/.vs/WebNails/v16/.suo
/.vs/WebNails/v16/.suo
/obj/Debug/WebNails.csproj.AssemblyReference.cache
/obj/Debug/WebNails.dll
/obj/Debug/WebNails.pdb
/bin/WebNails.dll
/bin/WebNails.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/WebNails.csproj.CoreCompileInputs.cache
/obj/Debug/WebNails.csproj.FileListAbsolute.txt
/.vs/WebNails/config/applicationhost.config
/WebNails.csproj.user
/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/obj/Release/WebNails.csproj.CoreCompileInputs.cache
/obj/Release/WebNails.csproj.FileListAbsolute.txt
/obj/Release/WebNails.dll
/obj/Release/WebNails.pdb
/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Release/WebNails.csproj.AssemblyReference.cache
/bin/WebNails.dll.config
