/.vs/WebNails/v16/.suo
/.vs/WebNails/v16/.suo
/obj/Debug/WebNails.csproj.AssemblyReference.cache
/obj/Debug/WebNails.dll
/obj/Debug/WebNails.pdb
/bin/WebNails.dll
/bin/WebNails.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/WebNails.csproj.CoreCompileInputs.cache
