<section class="gallery">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 my-3">
                <div class="box-inner">
                    <div class="img-hover-zoom">
                        <div class="bg bg-contact-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="box-inner">
                    <div class="img-hover-zoom">
                        <div class="bg bg-contact-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="box-inner">
                    <div class="img-hover-zoom">
                        <div class="bg bg-contact-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>