<section class="send-contact py-5" id="message_request">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center mb-5">
                <h1 class="fs-1 color-theme fw-bold"><span class="font-Parisienne">Interested in Our Courses?</span></h1>
                <p>
                    If you're interested in one of our programs, please let us<br />
                    know which program, and we'll get back to you soon.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form id="frmSendMessage">
                    <div class="row justify-content-center">
                        <div class="col-md-5 my-3">
                            <textarea name="YourMessage" id="YourMessage" rows="8" style="height: 200px;" class="form-control" placeholder="Tell us about your request" required></textarea>
                        </div>
                        <div class="col-md-5 my-3">
                            <p><input type="text" name="Subject" id="Subject" class="form-control" placeholder="Subject" required /></p>
                            <p class="mt-3"><input type="text" name="YourName" id="YourName" class="form-control" placeholder="Your name" required /></p>
                            <p class="mt-3"><input type="email" name="YourEmail" id="YourEmail" class="form-control" placeholder="Your email" required /></p>
                            <p class="mt-3"><input type="tel" name="YourPhone" id="YourPhone" class="form-control" placeholder="Your phone number" /></p>
                        </div>
                        <div class="col-md-10 my-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="Agreement" required>
                                <label class="form-check-label form-label" for="Agreement">
                                    I agree with the <a class="link-dark text-decoration-underline" target="_blank" href="https://www.ueni.com/en-us/terms?_ga=2.66700910.1945820625.1699201840-1173823991.1699201840">Terms & Conditions</a> and the <a class="link-dark text-decoration-underline" target="_blank" href="https://www.ueni.com/en-us/privacy">Privacy & Cookies Policy</a> of UENI and any applicable Terms and Conditions of 89 Beauty School. This site is protected by reCAPTCHA and the Google <a class="link-dark text-decoration-underline" target="_blank" href="https://policies.google.com/privacy">Privacy Policy</a> and <a class="link-dark text-decoration-underline" target="_blank" href="https://policies.google.com/terms">Terms of Service</a> apply.
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 text-center my-3">
                            <button type="submit" class="btn btn-primary btn-theme">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#frmSendMessage").validate({
            rules: {
                YourName: "required",
                YourEmail: { required: true, email: true },
                Subject: "required",
                YourPhone: { tel: true },
                YourMessage: "required"
            },
            messages: {
                YourName: { required: "Require input Your name" },
                YourEmail: { required: "Require input Your email", email: "Invalid Your email" },
                Subject: { required: "Require Subject" },
                YourPhone: { tel: "Invalid Your phone" },
                YourMessage: { required: "Require Your message" }
            },
            submitHandler: function (form) {
                $("body").addClass("loader");
                $("body").append("<div class='loading'></div>");
                $.ajax({
                    type: "POST",
                    url: "/contact.html",
                    data: $(form).serialize(),
                    success: function (result) {
                        if (result.messages == "OK") {
                            $(".loading", "body").remove();
                            $("body").removeClass("loader");
                            document.forms[0].reset();
                            $(".modal-body", "#ModalMessage").html("Thank you for your message. It has been sent. We will get back with you shortly.");
                            $("#ModalMessage").modal("show");
                        }
                    },
                });
                return false;
            }
        });
    })
</script>