@{ 
    var ImageServices_Home_Rounded = ViewBag.ImageServices_Home_Rounded ?? "0";
    var ImageServices_Home_Text_ItemAlign = ViewBag.ImageServices_Home_Text_ItemAlign ?? "center";
}

<section class="beauty-spa py-md-5 px-md-0 px-3">
    <div class="beauty-spa-inner">
        <div class="container rounded border border-1 border-theme">
            <div class="row">
                <hr class="border-theme rounded-top mb-0" />
                <div class="col-lg-12 pt-3">
                    <div class="box-inner">
                        <div class="text-center">
                            <h2 class="font-Prata">BEAUTY – SPA</h2>
                            <div class="divider mb-3"></div>
                            <p><strong>What We Offer</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mx-md-3">
                <div class="col-xl-6 col-lg-6 col-md-6 text-center my-3">
                    <div class="box-image rounded rounded-@(ImageServices_Home_Rounded)">
                        <div class="image1 img-hover-zoom rounded rounded-@(ImageServices_Home_Rounded) align-items-@(ImageServices_Home_Text_ItemAlign)">
                            <div class="w-100">
                                <h2 class="font-Prata">NAILS</h2>
                                <div class="position-relative">
                                    <div class="position-absolute top-0 w-100 text-center">
                                        <a class="learn-more btn btn-outline-warning btn-theme btn-border btn-border-black" style="display:none;" href="javascript:void(0)">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 text-center my-3">
                    <div class="box-image rounded rounded-@(ImageServices_Home_Rounded)">
                        <div class="image2 img-hover-zoom rounded rounded-@(ImageServices_Home_Rounded) align-items-@(ImageServices_Home_Text_ItemAlign)">
                            <div class="w-100">
                                <h2 class="font-Prata">WAX</h2>
                                <div class="position-relative">
                                    <div class="position-absolute top-0 w-100 text-center">
                                        <a class="learn-more btn btn-outline-warning btn-theme btn-border btn-border-black" style="display:none;" href="javascript:void(0)">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 text-center my-3">
                    <div class="box-image rounded rounded-@(ImageServices_Home_Rounded)">
                        <div class="image3 img-hover-zoom rounded rounded-@(ImageServices_Home_Rounded) align-items-@(ImageServices_Home_Text_ItemAlign)">
                            <div class="w-100">
                                <h2 class="font-Prata">FACIAL</h2>
                                <div class="position-relative">
                                    <div class="position-absolute top-0 w-100 text-center">
                                        <a class="learn-more btn btn-outline-warning btn-theme btn-border btn-border-black" style="display:none;" href="javascript:void(0)">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 text-center my-3">
                    <div class="box-image rounded rounded-@(ImageServices_Home_Rounded)">
                        <div class="image4 img-hover-zoom rounded rounded-@(ImageServices_Home_Rounded) align-items-@(ImageServices_Home_Text_ItemAlign)">
                            <div class="w-100">
                                <h2 class="font-Prata">HAIR</h2>
                                <div class="position-relative">
                                    <div class="position-absolute top-0 w-100 text-center">
                                        <a class="learn-more btn btn-outline-warning btn-theme btn-border btn-border-black" style="display:none;" href="javascript:void(0)">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 py-3">
                    <div class="text-center">
                        <a class="btn btn-default btn-more btn-border btn-border-black" href="services.html">VIEW MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>