@using WebNails.Models;
@{
    var Galleries = (List<GalleryModel>)ViewBag.HomeGallery ?? new List<GalleryModel>();
}
<section class="contact">
    <div class="bg-contact">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12 py-3">
                            <div class="box-inner text-center">
                                <h2>Our Gallery</h2>
                                <div class="divider"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 py-3">
                            <div class="contact-images">
                                <div class="image1"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 py-3">
                            <div class="contact-images">
                                <div class="image2"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 py-3">
                            <div class="contact-images">
                                <div class="image3"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 py-3">
                            <div class="contact-images">
                                <div class="image4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-6">
                    <div class="box-inner text-center">
                        <h2 class="fs-1">Rejuvenated & Beautiful</h2>
                        <div class="divider"></div>
                        <h2 class="fs-1">Nail Salon</h2>
                    </div>
                    <p class="fw-bold fst-italic">
                        Your luxurious session begins and ends with our expert team of dedicated beauty professionals at our beautiful nail salon in Sierra Madre, California.
                        After experiencing their exceptional talent and care for quality, you will never look or feel more beautiful!
                    </p>
                </div>
                <div class="col-lg-6">
                    <video autoplay muted loop playsinline="" preload="none" style="width: 100%; height: auto;">
                        <source src="/Content/videos/Nailholic-Spa-video1.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-md-12 py-3">
                            <div class="box-inner text-center">
                                <h2>Google Reviews</h2>
                                <div class="divider"></div>
                                <p class="fst-italic mt-3">
                                    We encourage you to share your opinions, both favorable and unfavorable. 
                                    Your feedback is so important to us, we’d love to hear from you.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 py-5">
                            <div class="slider-client h-100">
                                <div class="slider-client-item text-center h-100">
                                    <div class="px-3 h-100">
                                        <div class="border border-1 bg-white h-100 px-3 pt-3">
                                            <h4 class="text-theme">Briget Fodor</h4>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </p>
                                            <p>
                                                The best nail salon!
                                                I've been getting my nails done here for years and they're always perfect.
                                                The staff is friendly, the environment is relaxing, and they always give me a call when they say they will.
                                                Thank you!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-client-item text-center h-100">
                                    <div class="px-3 h-100">
                                        <div class="border border-1 bg-white h-100 px-3 pt-3">
                                            <h4 class="text-theme">Lily Anderson</h4>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </p>
                                            <p class="fst-italic">
                                                This is such a beautiful place to have your nails done.
                                                The staff is warm and friendly and you can relax as they pamper you.
                                                I came as a walk in and was immediately greeted with a welcoming, opening hello.
                                                The prices are great and they did an amazing job (very detail focused).
                                                Although this was my first time, I sat next to a couple who are regulars.
                                                They joked openly with the technician and the entire environment was fun, relaxing and peaceful.
                                                I'll be back for sure!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-client-item text-center h-100">
                                    <div class="px-3 h-100">
                                        <div class="border border-1 bg-white h-100 px-3 pt-3">
                                            <h4 class="text-theme">Thomas Malooly</h4>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </p>
                                            <p class="fst-italic">
                                                The experience here is excellent as always.
                                                Jean and her team provide superb service.
                                                Even while watching my favorite college football game.
                                                If you have not tried them you really should give them a chance.
                                                I highly recommend this establishment.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-client-item text-center h-100">
                                    <div class="px-3 h-100">
                                        <div class="border border-1 bg-white h-100 px-3 pt-3">
                                            <h4 class="text-theme">Alexandria Green</h4>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </p>
                                            <p class="fst-italic">
                                                They are always professional, friendly and warm.
                                                The staff are knowledgeable and skilled in both nail care and manicure techniques.
                                                I've never had a bad experience there, even when my nails were in need of a little extra attention!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-client-item text-center h-100">
                                    <div class="px-3 h-100">
                                        <div class="border border-1 bg-white h-100 px-3 pt-3">
                                            <h4 class="text-theme">Alexandria Green</h4>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </p>
                                            <p class="fst-italic">
                                                I was very impressed with the quality of service I received at this nail salon.
                                                My nail technician, did an excellent job on my nails.
                                                I received a beautiful set of french manicure and a callus removal treatment, which was very thorough and professional.
                                                The staff is friendly and accommodating, and the salon is clean and comfortable.
                                                I will definitely be returning to them in the future!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 py-3 text-center">
                            <a href="https://www.google.com/search?q=Nailholic+Spa+91024#lrd=0x80c2dc7a0884d3f5:0x24847abfecdaec4c,3,,,,&rlimm=2631363047022324812" class="btn btn-primary btn-theme mx-md-3 fs-6">Add Review</a>
                            <a href="https://www.google.com/search?q=Nailholic+Spa+91024#lkt=LocalPoiReviews&rlimm=2631363047022324812" class="btn btn-primary btn-theme mx-md-3 fs-6">All Reviews</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>