<section class="beauty-spa py-5">
    <div class="beauty-spa-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-inner">
                        <div class="text-center">
                            <h2 class="font-Prata">SERVICES</h2>
                            <div class="divider mb-3"></div>
                            <p><strong>What We Offer</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4 text-start my-3">
                    <div class="box-image me-lg-0">
                        <div class="image1">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">MANICURE</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center my-3">
                    <div class="box-image">
                        <div class="image2">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">PEDICURE</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-end my-3">
                    <div class="box-image ms-lg-0">
                        <div class="image3">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">ARTIFICIAL NAILS</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-start my-3">
                    <div class="box-image me-lg-0">
                        <div class="image4">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">DIPPING POWDER</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center my-3">
                    <div class="box-image">
                        <div class="image5">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">LITTLE KID<br/>SERVICES</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-end my-3">
                    <div class="box-image ms-lg-0">
                        <div class="image6">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">ADD ONS</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-start my-3">
                    <div class="box-image me-lg-0">
                        <div class="image7">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">POLISH CHANGE</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center my-3">
                    <div class="box-image">
                        <div class="image8">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">WAXING</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-end my-3">
                    <div class="box-image ms-lg-0">
                        <div class="image9">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">FACIAL</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 py-5">
                    <div class="text-center">
                        <a class="btn btn-default btn-more btn-border btn-border-black" href="services.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>