@using WebNails.Models;
@{
    var Galleries = (List<GalleryModel>)ViewBag.HomeGallery ?? new List<GalleryModel>();
}
<section class="contact">
    <div class="bg-contact">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12 py-3">
                            <div class="box-inner text-center">
                                <h2>Our Gallery</h2>
                                <div class="divider"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 py-3">
                            <div class="contact-images">
                                <div class="image1"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 py-3">
                            <div class="contact-images">
                                <div class="image2"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 py-3">
                            <div class="contact-images">
                                <div class="image3"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 py-3">
                            <div class="contact-images">
                                <div class="image4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12 py-5">
                            <div class="slider-client">
                                <div class="slider-client-item text-center">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <h4 class="text-theme">Brittany Wilson</h4>
                                            <p class="fst-italic">
                                                I absolutely love this place.
                                                I’ve never walked out unhappy and they even hype you up when you know your enjoying the outcome.
                                                Such a relaxing environment and everyone is awesome.
                                                This is my nail shop home!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-client-item text-center">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <h4 class="text-theme">Juli Chaney (jcntx)</h4>
                                            <p class="fst-italic">
                                                Always a good experience.
                                                I got a very festive Christmas design.
                                                They are very polite, helpful, clean, sanitized, and very talented.
                                                Will definitely return as I have time and time again!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-client-item text-center">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <h4 class="text-theme">Brittney Duberry</h4>
                                            <p class="fst-italic">
                                                I love my sunflower nails!
                                                Go see My at mylux nails she is great!
                                                Great conversation and she took her time to ensure I was happy with how it looked!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>