<section class="about-us py-md-5 px-md-0 px-3">
    <div class="overlay"></div>
    <div class="container rounded border border-1 border-theme">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="box-image py-3">
                    <img src="~/Content/images/home/home_skin_beauty.jpg" class="img-fluid img-thumbnail p-0" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="about-us-inner ms-xl-5 ms-md-3 mx-1">
                    <div class="box-inner">
                        <h1 class="text-center"><span>Glo Skin Beauty</span></h1>
                        <p class="text-center"><small>PROFESSIONAL SKINCARE</small></p>
                        <p>
                            Glo Skin Beauty, a brand we wholeheartedly love at Le Bijou Nails and Spa, is deeply committed to the message of skin care as a form of self-care. 
                            With their exceptional range of products, Glo Skin Beauty empowers individuals to embrace their natural beauty while nourishing and enhancing their skin. 
                            We appreciate their dedication to formulating innovative skincare solutions that address a variety of concerns, catering to the unique needs of our diverse clientele. 
                            Our knowledgeable esthetician has thoroughly researched and handpicked the perfect Glo Skin Beauty skincare line, ensuring that our clients receive the utmost care and effectiveness.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>