<section class="business-gift py-3 py-xl-5">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-6">
                <div class="business">
                    <div class="business-inner py-xl-5 my-1">
                        <div class="box-image">
                            <div class="image-business"></div>
                        </div>
                        <div class="box-inner">
                            <div class="text-center">
                                <h2>Business Hour</h2>
                                <div class="divider mb-3"></div>
                                @Html.Raw(string.Format("{0}", ViewBag.BusinessHours))
                                <a class="btn btn-default btn-more btn-border btn-border-black" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                                    @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "Book Appointment" : "call us") <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="e-gift h-100 d-flex align-items-center">
                    <div class="e-gift-inner py-xl-5 my-1">
                        <div class="box-inner">
                            <div class="text-center">
                                <h2 class="fs-1">Rejuvenated & Beautiful</h2>
                                <div class="divider mb-3"></div>
                                <h2 class="fs-1">Nail Salon</h2>
                                <p class="fw-bold fst-italic p-3">
                                    Your luxurious session begins and ends with our expert team of dedicated beauty professionals at our beautiful nail salon in Sierra Madre, California.
                                    After experiencing their exceptional talent and care for quality, you will never look or feel more beautiful!
                                </p>
                            </div>
                        </div>
                        <div class="p-3">
                            <video autoplay muted loop playsinline="" preload="none" style="width: 100%; height: auto;">
                                <source src="/Content/videos/Nailholic-Spa-video1.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>