<section class="services">
    <div class="bg-services">
        <div class="overlay"></div>
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-6 py-3">
                    <div class="box-inner d-flex align-items-center justify-content-center h-100">
                        <img src="~/Content/images/home/naccas_logo.jpg" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-6 py-3">
                    <div class="box-inner d-flex align-items-center h-100 fs-4">
                        <ul>
                            <li>
                                Financial Aids is available for those who qualify! <br />Apply here: <a class="link-primary" href="https://studentaid.gov/h/apply-for-aid/fafsa" target="_blank">Federal Student Aid</a>
                            </li>
                            <li>TAA program is available</li>
                            <li>Renew License (Required 4 Hours Continuing Education by TDLR)</li>
                            <li>Transfer Licenses from the other states to TX</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>