<section class="about-us pt-3 px-md-0 px-3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10 text-center py-md-3 py-0">
                <div class="about-us-inner">
                    <div class="box-inner">
                        <h2 class="font-Parisienne text-site fw-bold">La Madame Nail Lounge</h2>
                        <h1 class="py-4 py-md-4"><span>OUR DRINK MENU</span></h1>
                        <h4 class="text-site fw-bold">Complimentary Wine & Beverages</h4>
                        <p>(Must Show Valid of 21+)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-xl-4 col-lg-4 col-md-6 py-3">
                <img src="~/Content/images/home/drink_your_poison_green.jpg" loading="lazy" class="img-fluid" />
                <h5 class="text-center mt-3 fw-bold font-Prata fs-5 text-white">Name Your Poision</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 py-3">
                <img src="~/Content/images/home/drink_tequila_sunrise.jpg" loading="lazy" class="img-fluid" />
                <h5 class="text-center mt-3 fw-bold font-Prata fs-5 text-white">Tequila Sunrise</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 py-3">
                <img src="~/Content/images/home/drink_strawberry_mimosa.jpg" loading="lazy" class="img-fluid" />
                <h5 class="text-center mt-3 fw-bold font-Prata fs-5 text-white">Strawberry Mimosa</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 py-3">
                <img src="~/Content/images/home/drink_tequila_charms.jpg" loading="lazy" class="img-fluid" />
                <h5 class="text-center mt-3 fw-bold font-Prata fs-5 text-white">Tequila Charms</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 py-3">
                <img src="~/Content/images/home/drink_lido_kiss.jpg" loading="lazy" class="img-fluid" />
                <h5 class="text-center mt-3 fw-bold font-Prata fs-5 text-white">Lido Kiss</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 py-3">
                <img src="~/Content/images/home/drink_your_poison_blue.jpg" loading="lazy" class="img-fluid" />
                <h5 class="text-center mt-3 fw-bold font-Prata fs-5 text-white">Name Your Poision</h5>
            </div>
        </div>
    </div>
</section>