<section class="about-us py-md-5 px-md-0 px-3">
    <div class="overlay"></div>
    <div class="container rounded border border-1 border-theme">
        <div class="row">
            <hr class="border-theme rounded-top mb-0" />
            <div class="col-xl-6 col-lg-6 order-lg-1 col-md-12 order-1 py-md-5 py-3">
                <div class="box-image">
                    <img src="~/Content/images/home/home_about_us.jpg" class="img-fluid img-thumbnail p-0" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 order-lg-1 col-md-12 order-1 py-md-5 py-3">
                <div class="about-us-inner ms-xl-5 ms-md-3 mx-1">
                    <div class="box-inner">
                        <h1 class="text-center text-lg-start mb-4 mb-md-5"><span>Delivering Outstanding Experiences Every Visit</span></h1>
                        <p>
                            At Le Bijou Nails and Spa, we are dedicated to delivering outstanding experiences every time you visit.
                            From the moment you step through our doors, our attentive team strives to create a warm and inviting atmosphere that instantly puts you at ease.
                            We take the time to understand your unique needs and desires, ensuring that each service is personalized to exceed your expectations.
                        </p>
                        <div class="row">
                            <div class="col-md-auto">
                                <img src="~/Content/images/svg/Skilled.svg" />
                            </div>
                            <div class="col-md-auto">
                                <h3>Skilled Professionals</h3>
                                <p>Seasoned beauty professionals and superior customer service.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-auto">
                                <img src="~/Content/images/svg/Personalized.svg" />
                            </div>
                            <div class="col-md-auto">
                                <h3>Personalized Experience</h3>
                                <p>A spa experience tailored to your personal needs.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-auto">
                                <img src="~/Content/images/svg/Friendly-Relaxing.svg" />
                            </div>
                            <div class="col-md-auto">
                                <h3>Friendly & Relaxing Experience</h3>
                                <p>Luxurious, modern, relaxing atmosphere awaits you.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-auto">
                                <img src="~/Content/images/svg/Booking.svg" />
                            </div>
                            <div class="col-md-auto">
                                <h3>Online Booking</h3>
                                <p>Choose a date and time convenient for you.</p>
                            </div>
                        </div>
                        <div class="text-center text-lg-start">
                            <a class="btn btn-default btn-more btn-border btn-border-black" href="about-us.html">VIEW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>