<section class="beauty-spa py-5">
    <div class="beauty-spa-inner">
        <div class="container-xl">
            <div class="row align-items-center">
                <div class="col-xl-12">
                    <div class="box-inner">
                        <div class="text-center">
                            <h2 class="font-Prata">BEAUTY – SPA</h2>
                            <div class="divider mb-3"></div>
                            <h2>What We Offer</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 beauty-spa-item">
                            <div class="box-image">
                                <div class="image1"></div>
                            </div>
                            <div class="text-center py-3">
                                <h2 class="font-Prata" data-title="MANICURE SERVICES" data-description="A manicure is a beauty treatment that involves the cleaning, shaping, and polishing of the nails. It typically includes a hand massage and the removal of dead skin around the nails.">PEDICURE</h2>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 beauty-spa-item">
                            <div class="box-image">
                                <div class="image2" data-title="PEDICURE SERVICES" data-description="A pedicure is a cosmetic treatment of the feet and toenails that includes cleaning, trimming, shaping, and polishing the nails, as well as exfoliating and moisturizing the skin on the feet."></div>
                            </div>
                            <div class="text-center py-3">
                                <h2 class="font-Prata">MANICURE</h2>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 beauty-spa-item">
                            <div class="box-image">
                                <div class="image3" data-title="EYELASH EXTENSIONS SERVICES" data-description="Eyelash extension services are designed to enhance the appearance of the eyelashes by attaching individual synthetic lashes to the natural lashes."></div>
                            </div>
                            <div class="text-center py-3">
                                <h2 class="font-Prata">EYELASH EXTENSIONS</h2>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 beauty-spa-item">
                            <div class="box-image">
                                <div class="image4" data-title="WAXING SERVICES" data-description="Waxing services are designed to remove unwanted hair from various parts of the body."></div>
                            </div>
                            <div class="text-center py-3">
                                <h2 class="font-Prata">WAXING</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 py-3">
                            <div class="text-center">
                                <a class="btn btn-default btn-more btn-border btn-border-black" href="services.html">VIEW MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>