<section class="about-us py-md-5 px-md-0 px-3">
    <div class="overlay"></div>
    <div class="container rounded border border-1 border-theme">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 py-3">
                <div class="box-image">
                    <img src="~/Content/images/home/home_about_us_2.jpg" class="img-fluid img-thumbnail p-0" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 py-3">
                <div class="about-us-inner ms-xl-5 me-xl-1 ms-lg-0 me-lg-0 mx-1">
                    <div class="box-inner">
                        <h1 class="text-center text-lg-start mb-3 mb-md-4"><span class="fs-1">Delivering Outstanding Experiences Every Visit</span></h1>
                        <p>
                            At Le Bijou Nails and Spa, we are dedicated to delivering outstanding experiences every time you visit.
                            From the moment you step through our doors, our attentive team strives to create a warm and inviting atmosphere that instantly puts you at ease.
                            We take the time to understand your unique needs and desires, ensuring that each service is personalized to exceed your expectations.
                        </p>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="sgv-icon">
                                    <img src="~/Content/images/svg/Skilled.svg" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-md-10 text-md-start text-center">
                                <h4 class="title">Skilled Professionals</h4>
                                <p class="description">Seasoned beauty professionals and superior customer service.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="sgv-icon">
                                    <img src="~/Content/images/svg/Personalized.svg" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-md-10 text-md-start text-center">
                                <h4 class="title">Personalized Experience</h4>
                                <p class="description">A spa experience tailored to your personal needs.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="sgv-icon">
                                    <img src="~/Content/images/svg/Friendly-Relaxing.svg" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-md-10 text-md-start text-center">
                                <h4 class="title">Friendly & Relaxing Experience</h4>
                                <p class="description">Luxurious, modern, relaxing atmosphere awaits you.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="sgv-icon">
                                    <img src="~/Content/images/svg/Booking.svg" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-md-10 text-md-start text-center">
                                <h4 class="title">Online Booking</h4>
                                <p class="description">Choose a date and time convenient for you.</p>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)))
                        {
                            <div class="text-center mt-3">
                                <a class="btn btn-default btn-more btn-border btn-border-black" href="@(ViewBag.LinkBookingAppointment)" target="_blank">
                                    <span>Book Appointment</span> <i class="fa fa-calendar"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>