<section class="about-us pt-5 px-md-0 px-3">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10 text-center py-md-3 py-0">
                <div class="about-us-inner">
                    <div class="box-inner">
                        <h2 class="font-Parisienne text-site fw-bold ">Welcome To</h2>
                        <h1 class="py-4 py-md-4"><span>La Madame Nail Lounge</span></h1>
                        @Html.Raw(string.Format("{0}", ViewBag.HomeAboutUs))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>