<section class="business-gift py-3 py-xl-5">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <div class="business rounded border border-1 border-theme">
                    <hr class="border-theme rounded-top mt-0" />
                    <div class="business-inner business-inner pb-md-4 pt-md-0 my-1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box-image">
                                    <div class="image-business rounded"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box-inner h-100">
                                    <div class="text-center">
                                        <h2>Business Hour</h2>
                                        <div class="divider mb-3"></div>
                                        @Html.Raw(string.Format("{0}", ViewBag.BusinessHours))
                                        <a class="btn btn-default btn-more btn-border btn-border-black" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                                            @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "Book Appointment" : "call us") <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>