<section class="services">
    <div class="bg-services">
        <div class="overlay"></div>
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4 py-3">
                    <div class="box-inner">
                        <p><img src="~/Content/images/icon-1-1.png" alt="" class="img-fluid" /></p>
                        <h3>BEST SERVICES</h3>
                        <p>We always bring quality services, create comfort and enjoy for customers every time they come to Nail Story</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 py-3">
                    <div class="box-inner">
                        <p><img src="~/Content/images/icon-2-1.png" alt="" class="img-fluid" /></p>
                        <h3>CUSTOMERS SATISFIED</h3>
                        <p>We only use the most prestigious brand products in the beauty. Products, services…</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 py-3">
                    <div class="box-inner">
                        <p><img src="~/Content/images/icon-3-1.png" alt="" class="img-fluid" /></p>
                        <h3>HIGH SKILLED EMPLOYEES</h3>
                        <p>Our staff are thoroughly trained and follow a process to ensure safety and hygiene for customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>