<section class="contact">
    <div class="bg-contact">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 pb-5 text-center">
                    <h2>Contact Us</h2>
                    <a class="btn btn-default btn-more" href="contact.html">VIEW MORE</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image1"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image2"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image3"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="staff">
            <div class="row">
                <div class="col-md-4 offset-md-4 pt-5 text-center">
                    <h2>Meet Our Staff</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="card-title"><h4><b>Tracy</b></h4></div>
                            <div class="card-subtitle">Nail Tech</div>
                            <div class="card-subtitle">Start Date: 03/17/2023</div>
                            <div class="card-text mt-3">
                                <p>
                                    Tracy have been a nail technician for 13 years.
                                    She moved here from Austin, Texas. She went to school here at "Petra V" in Saint Paul have her certificate of Nail Technician of Minnesota.
                                </p>
                                <p>
                                    She decided to chase her dreams of opening and running her own business one day.
                                    She decided to take over "Daisy Nails New Hope" and to be able to be part of the community and surrounding areas.
                                    She's new to the community and would love to meet you!
                                </p>
                                <p class="text-secondary">
                                    Mon - Fri: 9:30am - 7:00pm<br />
                                    Sat: 9:30am - 5:00pm
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="card-title"><h4><b>Kandy</b></h4></div>
                            <div class="card-subtitle">Nail Tech</div>
                            <div class="card-subtitle">Start Date: 05/08/2023</div>
                            <div class="card-text mt-3">
                                <p>
                                    Kandy started working as a nail technician (18 years) when she moved here from Vietnam 20 years ago.
                                    She is highly talented and very detailed in her artwork with nail designs.
                                    After only working here for a month, she's already built a client list that requests for her skilled work.
                                </p>
                                <p class="text-secondary">
                                    Mon - Fri: 10:00am - 7:00pm<br />
                                    Sat: 10:00am - 5:00pm
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="card-title"><h4><b>Lisa</b></h4></div>
                            <div class="card-subtitle">Nail Tech</div>
                            <div class="card-subtitle"></div>
                            <div class="card-text mt-3">
                                <p>
                                    Lisa is the newest to our team. 20+ years in the nail industry and very skillful in designs. She can design anything you envision and make it a reality on your nails.
                                </p>
                                <p class="text-secondary">
                                    Tue - Fri: 10:00am - 7:00pm<br />
                                    Sat: 10:00am - 5:00pm
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="card-title"><h4><b>Heidi</b></h4></div>
                            <div class="card-subtitle">Nail Tech</div>
                            <div class="card-subtitle">Start Date: 05/01/2023</div>
                            <div class="card-text mt-3">
                                <p>
                                    Heidi have been in the Nail Salon industry for over 5 years.
                                    She enjoys learning from her guests and interacting with them.
                                    She's very welcoming and has an eye for detail. She takes her time on her manicures and pedicures to make sure you get the best that she could offer.
                                </p>
                                <p class="text-secondary">
                                    Mon - Fri: 10:00am - 7:00pm<br />
                                    Sat: 10:00am - 5:00pm
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="card-title"><h4><b>Henry</b></h4></div>
                            <div class="card-subtitle">Nail Tech</div>
                            <div class="card-subtitle"></div>
                            <div class="card-text mt-3">
                                <p class="text-secondary">
                                    Mon - Fri: 10:00am - 7:00pm<br />
                                    Sat: 10:00am - 5:00pm
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>