@using WebNails.Models;
@{ 
    var Galleries = (List<GalleryModel>)ViewBag.HomeGallery ?? new List<GalleryModel>();
}
<section class="contact">
    <div class="bg-contact">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 pb-5 text-center">
                    <div class="box-inner">
                        <h2>Gallery</h2>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                @{
                    foreach (var item in Galleries)
                    {
                        <div class="col-md-3 py-3">
                            <div class="contact-images">
                                <a href="@item.Src" data-lightbox="gallery-item" data-title="">
                                    <img src="@item.Src" loading="lazy" class="img-fluid" />
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4 pb-5 text-center">
                    <a class="btn btn-default btn-more" href="gallery.html">VIEW MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>