<section class="services">
    <div class="bg-services">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="box-inner">
                        <p><img src="~/Content/images/icon2--300x219.png" alt="" class="img-fluid" /></p>
                        <p>SIGNATURE PEDI & MANI FOR LUXURY SPA EXPERIENCE</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="box-inner">
                        <p><img src="~/Content/images/icon1-01-300x300.png" alt="" class="img-fluid" /></p>
                        <p>SAFE & HEALTHY NAIL CARE SERVICES</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="box-inner">
                        <p><img src="~/Content/images/icon3--300x300.png" alt="" class="img-fluid" /></p>
                        <p>COMPETITIVE PRICES AND A WIDE RANGE OF SERVICES</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="p-3 bg-white">
                        <ul class="nav nav-pills" id="spa-etiquettes-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-spa-etiquettes-tab" data-bs-toggle="pill" data-bs-target="#pills-spa-etiquettes" type="button" role="tab" aria-controls="pills-spa-etiquettes" aria-selected="true">Spa Etiquettes</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-spa-parties-tab" data-bs-toggle="pill" data-bs-target="#pills-spa-parties" type="button" role="tab" aria-controls="pills-spa-parties" aria-selected="false">Spa Parties & Cancellation Policy</button>
                            </li>
                        </ul>
                        <div class="tab-content py-3" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-spa-etiquettes" role="tabpanel" aria-labelledby="pills-spa-etiquettes-tab">
                                <ol>
                                    <li>Reservations may be made up to four weeks in advance. As a courtesy, we attempt to confirm all appointments. You are always welcome to telephone, as well, prior to your appointment to confirm exact times, services, and ask any questions you may have.</li>
                                    <li>Please arrive 10-15 minutes prior to your appointment. Starting your service on time will allow you to enjoy the full relaxing experience with us.</li>
                                    <li>Please do not bring valuables with you, we are not responsible for lost or stolen items</li>
                                    <li>Please respect the right to a atmosphere for all guests. We ask that you refrain from talking loud and that you keep your phone on silent.</li>
                                    <li>Please notify our staff before reserving your treatment if you have high blood pressure, special physical concerns, diabetics, or are pregnant. It is recommended that you consult your physician before visiting the spa.</li>
                                    <li>As a courtesy to other guests, please keep small children at home.</li>
                                </ol>
                            </div>
                            <div class="tab-pane fade" id="pills-spa-parties" role="tabpanel" aria-labelledby="pills-spa-parties-tab">
                                <ol>
                                    <li>For parties of 4 or more, please contact us, in advance. An appointment and a credit card deposit is required. We have reserved time and space especially for you and require 24-hour notice of any appointment cancelation. If less than the required notice is given, we reserve the right to charge 50% for the full schedule session.</li>
                                    <li>We reserved the right to bill you up to full value for “no call – no show”.</li>
                                    <li>You are welcome to bring your own refreshment and/or decorations beyond our complementary drinks.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>