<section class="about-us d-flex align-items-center">
    <div class="overlay"></div>
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-12 py-5">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="about-us-inner">
                            <div class="box-inner-title">
                                <h1>About Us</h1>
                                <div class="divider mb-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        @Html.Raw(string.Format("{0}", ViewBag.HomeAboutUs))
                    </div>
                    <div class="col-12 pt-3 text-center">
                        <a class="btn btn-default btn-more btn-border btn-border-black" href="about-us.html">VIEW MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
