<section class="beauty-spa py-5">
    <div class="beauty-spa-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-inner">
                        <div class="text-center">
                            <h2 class="font-Prata">BEAUTY – SPA</h2>
                            <div class="divider mb-3"></div>
                            <p><strong>What We Offer</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4 bg-item-service text-start">
                    <div class="box-image me-0">
                        <div class="image1">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">CLASSIC<br/>MANICURE</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 bg-item-service text-center">
                    <div class="box-image">
                        <div class="image2">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">CLASSIC<br />PEDICURE</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 bg-item-service text-end">
                    <div class="box-image ms-0">
                        <div class="image3">
                            <div class="text-center py-4">
                                <h2 class="font-Prata">DIP<br />POWDER<br />NAILS</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 py-5">
                    <div class="text-center">
                        <a class="btn btn-default btn-more btn-border btn-border-black" href="services.html">VIEW MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>