@{ 
    var ImageServices_Home_Rounded = ViewBag.ImageServices_Home_Rounded ?? "0";
    var ImageServices_Home_Text_ItemAlign = ViewBag.ImageServices_Home_Text_ItemAlign ?? "center";
}

<section class="beauty-spa py-md-5 px-md-0 px-3">
    <div class="beauty-spa-inner">
        <div class="container rounded border border-1 border-theme">
            <div class="row">
                <hr class="border-theme rounded-top mb-0" />
                <div class="col-lg-12 pt-3">
                    <div class="box-inner">
                        <div class="text-center">
                            <h2 class="font-Prata">BEAUTY – SPA</h2>
                            <div class="divider mb-3"></div>
                            <p><strong>What We Offer</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mx-md-3">
                <div class="col-xl-3 col-lg-6 col-md-6 text-center my-3">
                    <div class="box-image rounded rounded-@(ImageServices_Home_Rounded)" onclick="OpenMenu(this)">
                        <div class="image1 rounded rounded-@(ImageServices_Home_Rounded) align-items-@(ImageServices_Home_Text_ItemAlign)">
                            <div class="text-center">
                                <h2 class="font-Prata">MANICURE</h2>
                            </div>
                            <div class="d-none" id="manicure">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row small py-1">
                                            <div class="col-10">Regular Manicure</div>
                                            <div class="col-2 text-end position-relative">$20<span class="position-absolute top-0">&nbsp;</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Regular Manicure With French</div>
                                            <div class="col-2 text-end position-relative">$25<span class="position-absolute top-0">&nbsp;</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Gel Manicures</div>
                                            <div class="col-2 text-end position-relative">$35<span class="position-absolute top-0">&nbsp;</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Gel Manicures w/French</div>
                                            <div class="col-2 text-end position-relative">$40<span class="position-absolute top-0">&nbsp;</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 text-center my-3">
                    <div class="box-image rounded rounded-@(ImageServices_Home_Rounded)" onclick="OpenMenu(this)">
                        <div class="image2 rounded rounded-@(ImageServices_Home_Rounded) align-items-@(ImageServices_Home_Text_ItemAlign)">
                            <div class="text-center">
                                <h2 class="font-Prata">PEDICURE</h2>
                            </div>
                            <div class="d-none" id="pedicure">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row small py-1">
                                            <div class="col-10">Classic</div>
                                            <div class="col-2 text-end position-relative">$31<span class="position-absolute top-0">&nbsp;</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Deluxe</div>
                                            <div class="col-2 text-end position-relative">$36<span class="position-absolute top-0">&nbsp;</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">College</div>
                                            <div class="col-2 text-end position-relative">$46<span class="position-absolute top-0">&nbsp;</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Volcano</div>
                                            <div class="col-2 text-end position-relative">$56<span class="position-absolute top-0">&nbsp;</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Volcano + CBD</div>
                                            <div class="col-2 text-end position-relative">$70<span class="position-absolute top-0">&nbsp;</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 text-center my-3">
                    <div class="box-image rounded rounded-@(ImageServices_Home_Rounded)" onclick="OpenMenu(this)">
                        <div class="image3 rounded rounded-@(ImageServices_Home_Rounded) align-items-@(ImageServices_Home_Text_ItemAlign)">
                            <div class="text-center">
                                <h2 class="font-Prata">DIP POWDER</h2>
                            </div>
                            <div class="d-none" id="dip-powder">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row small py-1">
                                            <div class="col-10">Powder Color Full Set w/Gel</div>
                                            <div class="col-2 text-end position-relative">$55<span class="position-absolute top-0">+</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Pink and White Powder Full Set</div>
                                            <div class="col-2 text-end position-relative">$60<span class="position-absolute top-0">+</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Pink and White Powder Fill</div>
                                            <div class="col-2 text-end position-relative">$50<span class="position-absolute top-0">+</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Ombre Full Set</div>
                                            <div class="col-2 text-end position-relative">$55<span class="position-absolute top-0">+</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Ombre Fill</div>
                                            <div class="col-2 text-end position-relative">$50<span class="position-absolute top-0">+</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Dip with Soak</div>
                                            <div class="col-2 text-end position-relative">$50<span class="position-absolute top-0">&nbsp;</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Dip No Soak</div>
                                            <div class="col-2 text-end position-relative">$45<span class="position-absolute top-0">&nbsp;</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Dip Pink and White</div>
                                            <div class="col-2 text-end position-relative">$55<span class="position-absolute top-0">+</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 text-center my-3">
                    <div class="box-image rounded rounded-@(ImageServices_Home_Rounded)" onclick="OpenMenu(this)">
                        <div class="image4 rounded rounded-@(ImageServices_Home_Rounded) align-items-@(ImageServices_Home_Text_ItemAlign)">
                            <div class="text-center">
                                <h2 class="font-Prata">ACRYLIC</h2>
                            </div>
                            <div class="d-none" id="acrylic">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row small py-1">
                                            <div class="col-10">Acrylic Full Set w/Regular Polish</div>
                                            <div class="col-2 text-end position-relative">$35<span class="position-absolute top-0">+</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Acrylic Fill w/Regular Polish</div>
                                            <div class="col-2 text-end position-relative">$30<span class="position-absolute top-0">+</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Acrylic Full Set w/Gel Polish</div>
                                            <div class="col-2 text-end position-relative">$48<span class="position-absolute top-0">+</span></div>
                                        </div>
                                        <div class="row small py-1">
                                            <div class="col-10">Acrylic Fill w/Gel Polish</div>
                                            <div class="col-2 text-end position-relative">$38<span class="position-absolute top-0">+</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 py-3">
                    <div class="text-center">
                        <a class="btn btn-default btn-more btn-border btn-border-black" href="services.html">VIEW MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>