<section class="beauty-spa py-5">
    <div class="beauty-spa-inner">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-inner">
                        <div class="text-center">
                            <h2 class="font-Parisienne fs-1">Services</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-4 col-md-6 text-center my-3">
                    <div class="box-image" onclick="ServiceDetail('custom-nails')">
                        <div class="image image-custom-nails">
                            <div class="text-center">
                                <h2 class="font-Prata">CUSTOM NAILS</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center my-3">
                    <div class="box-image" onclick="ServiceDetail('pedicure-manicure')">
                        <div class="image image-pedicure-manicure">
                            <div class="text-center">
                                <h2 class="font-Prata">PEDICURE & MANICURE</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center my-3">
                    <div class="box-image" onclick="ServiceDetail('nail-enhancements')">
                        <div class="image image-nail-enhancements">
                            <div class="text-center">
                                <h2 class="font-Prata">NAIL<br />ENHANCEMENTS</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center my-3">
                    <div class="box-image" onclick="ServiceDetail('kids-menu')">
                        <div class="image image-kids-menu">
                            <div class="text-center">
                                <h2 class="font-Prata">KIDS MENU<br />(age 11 and under)</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center my-3">
                    <div class="box-image" onclick="ServiceDetail('waxing-tinting')">
                        <div class="image image-waxing-tinting">
                            <div class="text-center">
                                <h2 class="font-Prata">WAXING & TINTING</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center my-3">
                    <div class="box-image" onclick="ServiceDetail('facial-skin-management')">
                        <div class="image image-facial-skin-management">
                            <div class="text-center">
                                <h2 class="font-Prata">FACIAL & SKIN<br />MANAGEMENT</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center my-3">
                    <div class="box-image" onclick="ServiceDetail('eyelash-extensions')">
                        <div class="image image-eyelash-extensions">
                            <div class="text-center">
                                <h2 class="font-Prata">EYELASH EXTENSIONS</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center my-3">
                    <div class="box-image" onclick="ServiceDetail('microblading')">
                        <div class="image image-microblading">
                            <div class="text-center">
                                <h2 class="font-Prata">MICROBLADING</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center my-3">
                    <div class="box-image" onclick="ServiceDetail('brow-lamination')">
                        <div class="image image-brow-lamination">
                            <div class="text-center">
                                <h2 class="font-Prata">BROW LAMINATION</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center my-3">
                    <div class="box-image" onclick="ServiceDetail('lash-lift')">
                        <div class="image image-lash-lift">
                            <div class="text-center">
                                <h2 class="font-Prata">LASH LIFT</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center my-3">
                    <div class="box-image" onclick="ServiceDetail('massage')">
                        <div class="image image-massage">
                            <div class="text-center">
                                <h2 class="font-Prata">MASSAGE</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>