<section class="contact">
    <div class="bg-contact">
        <div class="overlay"></div>
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center pb-3">
                    <div class="box-inner">
                        <div class="text-center">
                            <h2>The High Quality Products</h2>
                            <div class="divider"></div>
                            <h3 class="font-Prata"><b>- OUR FAVORITE BRANDS -</b></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-auto col-md-auto text-center">
                    <img src="~/Content/images/brands-favorite/barbicide-logo.png" class="img-fluid" />
                </div>
                <div class="col-lg-auto col-md-auto text-center">
                    <img src="~/Content/images/brands-favorite/farm-house-fresh-logo.png" class="img-fluid" />
                </div>
                <div class="col-lg-auto col-md-auto text-center">
                    <img src="~/Content/images/brands-favorite/opi-logo.png" class="img-fluid" />
                </div>
                <div class="col-lg-auto col-md-auto text-center">
                    <img src="~/Content/images/brands-favorite/dazzle-dry-logo.png" class="img-fluid" />
                </div>
                <div class="col-lg-auto col-md-auto text-center">
                    <img src="~/Content/images/brands-favorite/essie-logo.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>