@{ 
    var aHref = ViewBag.HyperLinkTell;
}
<div class="row">
    <div class="col-lg-4 my-3">
        <div class="box-inner">
            <div class="box-image">
                <img class="img-fluid" alt="" src="~/Content/images/programs/programs-1.jpg" />
            </div>
            <div class="box-text">
                <h2 class="text-center">COSMETOLOGY 1000HRS</h2>
                <p>
                    <a href="@aHref" class="btn btn-primary btn-theme" tabindex="-1">Get in Contact</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 my-3">
        <div class="box-inner">
            <div class="box-image">
                <img class="img-fluid" alt="" src="~/Content/images/programs/programs-2.jpg" />
            </div>
            <div class="box-text">
                <h2 class="text-center">MANICURE 600HRS</h2>
                <p>
                    <a href="@aHref" class="btn btn-primary btn-theme" tabindex="-1">Get in Contact</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 my-3">
        <div class="box-inner">
            <div class="box-image">
                <img class="img-fluid" alt="" src="~/Content/images/programs/programs-3.jpg" />
            </div>
            <div class="box-text">
                <h2 class="text-center">ESTHETICIAN 750HRS</h2>
                <p>
                    <a href="@aHref" class="btn btn-primary btn-theme" tabindex="-1">Get in Contact</a>
                </p>
            </div>
        </div>
    </div>
</div>