@model List<WebNails.Models.ReviewModel>
<section class="reviews py-5 bg-light">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center mb-5">
                <h1 class="fs-1 font-Parisienne fw-bold color-theme">Reviews</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6 my-3">
                            <div class="box-inner h-100">
                                <div class="border border-theme h-100 p-5">
                                    <div class="box-image">
                                        <h4 class="text-center">@item.Name</h4>
                                        <p class="text-center"><small>@item.Moment</small></p>
                                        <p class="text-center">
                                            @for (var i = 0; i < item.Star; i++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        </p>
                                    </div>
                                    <div class="box-text">
                                        @Html.Raw(item.Text)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-12 text-center my-3">
                        <a href="https://www.google.com/search?q=89+Beauty+School,+18910+FM+529+%238,+Cypress,+TX+77433,+United+States&ludocid=12149138179303398197&lsig=AB86z5U63QzAjhwfyJH8QmmAehPP#lrd=0x8640d7bb6ebf933b:0xa89a68ce2083db35,3" class="btn btn-primary btn-theme mx-md-3 fs-6">Add Review</a>
                        <a href="https://www.google.com/search?q=89+Beauty+School,+18910+FM+529+%238,+Cypress,+TX+77433,+United+States&ludocid=12149138179303398197&lsig=AB86z5U63QzAjhwfyJH8QmmAehPP#lrd=0x8640d7bb6ebf933b:0xa89a68ce2083db35,1,,,," class="btn btn-primary btn-theme mx-md-3 fs-6">All Reviews</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>