@model List<WebNails.Models.ReviewModel>
<section class="reviews py-5 bg-light">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h1 class="fs-1 font-Parisienne fw-bold color-theme">Reviews</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-12">
                        <div class="slider-reviews">
                            @foreach (var item in Model)
                            {
                                <div class="box-inner">
                                    <div class="border border-theme p-5">
                                        <div class="box-image">
                                            <h4 class="text-center">@item.Name</h4>
                                        </div>
                                        <div class="box-text text-center">
                                            @Html.Raw(item.Text)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>