<section class="slider-home">
    <div class="sliders">
        <div class="slider-1">
            <div class="box-image">
                <div class="image">
                    <div class="box-inner text-center" data-animation-in="animate__animated animate__fadeInDown">
                        <h1 data-animation-in="animate__animated animate__fadeInDown">WELCOME TO</h1>
                        <h2 data-animation-in="animate__animated animate__fadeInDown"><strong>@ViewBag.Name</strong></h2>
                        <a class="btn btn-dark btn-more btn-none-border" data-animation-in="animate__animated animate__fadeInDown" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                            <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i> @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "APPOINTMENT" : "CALL US")
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-2">
            <div class="box-image">
                <div class="image">
                    <div class="box-inner text-center">
                        <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">Made For You</h1>
                        <p data-animation-in="animate__animated animate__fadeInDown">Famous Treatment For Nails Services</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-3">
            <div class="box-image">
                <div class="image">
                    <div class="box-inner text-center">
                        <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">Wellness And Spa</h1>
                        <p data-animation-in="animate__animated animate__fadeInDown">Dedicated to inspiring Life in Balance.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-4">
            <div class="box-image">
                <div class="image">
                    <div class="box-inner text-center">
                        <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">Desire meets nail ideas</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-5">
            <div class="box-image">
                <div class="image">
                    <div class="box-inner text-center">
                        <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">SERVICES</h1>
                        <p data-animation-in="animate__animated animate__fadeInDown">Pedicure & Manicure</p>
                        <p data-animation-in="animate__animated animate__fadeInDown">Eyelash Extensions & Waxing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>