<section class="slider-home">
    <div class="sliders">
        <div class="slider-1">
            <div class="box-image">
                <div class="image">
                    <div class="box-inner text-center" style="position:relative;">
                        <h1 data-animation-in="animate__animated animate__fadeInDown">WELCOME TO</h1>
                        <h2 data-animation-in="animate__animated animate__fadeInDown"><strong>@ViewBag.Name</strong></h2>
                        <div class="rectangle" data-animation-in="animate__animated animate__fadeInUp"></div>
                        <a class="btn btn-default btn-more btn-none-border btn-bg-white" data-animation-in="animate__animated animate__fadeInDown" href="@ViewBag.HyperLinkTell" target="_blank"><i class="fa fa-phone"></i> CALL US</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-2">
            <div class="box-image">
                <div class="image">
                    <div class="box-inner text-center">
                        <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">Made For You</h1>
                        <p data-animation-in="animate__animated animate__fadeInDown">Famous Treatment For Nails Services</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-3">
            <div class="box-image">
                <div class="image">
                    <div class="box-inner text-center">
                        <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">Wellness And Spa</h1>
                        <p data-animation-in="animate__animated animate__fadeInDown">Dedicated to inspiring Life in Balance.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-4">
            <div class="box-image">
                <div class="image">
                    <div class="box-inner text-center">
                        <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">Desire meets nail ideas</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-5">
            <div class="box-image">
                <div class="image">
                    <div class="box-inner text-center">
                        <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">SERVICES</h1>
                        <p data-animation-in="animate__animated animate__fadeInDown">Pedicure & Manicure <br />Eyelash Extensions & Waxing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>