@{
    ViewBag.Title = "About Us";

    var IsFade_PageBanner = (bool)ViewBag.IsFade_PageBanner;
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/page-about-us.css" rel="stylesheet">
}
@section custom_css{
    <link href="~/Content/custom-css/site.css" rel="stylesheet">
}
<main>
    @{Html.RenderPartial("_SliderPageSub");}
    <section class="bg">
        <div class="bg-about-us">
            <div class="page-main container-lg py-5" id="about-us">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 text-center py-md-3 py-0">
                        <h2 class="font-Parisienne text-site fw-bold">Welcome To</h2>
                        <h1 class="py-4 py-md-4"><span class="text-site">La Madame Nail Lounge</span></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 text-center my-1 col-md-12">
                        <img src="/Content/images/about-us/about-us.jpg" class="img-fluid img-thumbnail p-0" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 mt-3 col-md-12">
                        @Html.Raw(string.Format("{0}", ViewBag.AboutUs).Replace("%Link-Booking%", ViewBag.LinkBookingAppointment))
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script src="~/Content/js/lightbox.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-about-us");

        var sliderInit = $('.sliders');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                fade: @(IsFade_PageBanner ? "true" : "false"),
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
            sliderInit.slickAnimation();

            sliderInit.on('touchstart', e => {
                sliderInit.slick('slickPlay');
            });
        });
    </script>
}