@{
    ViewBag.Title = "About Us";

    var IsFade_PageBanner = (bool)ViewBag.IsFade_PageBanner;
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/page-about-us.css" rel="stylesheet">
}
@section custom_css{
    <link href="~/Content/custom-css/site.css" rel="stylesheet">
}
<main>
    @{Html.RenderPartial("_SliderPageSub");}
    <section class="bg">
        <div class="bg-about-us">
            <div class="overlay"></div>
            <div class="page-main container-lg py-5" id="about-us">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-6 mt-3 col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-4 text-lg-start text-center"><h1><span class="font-Parisienne">About Us</span></h1></div>
                                @Html.Raw(string.Format("{0}", ViewBag.AboutUs).Replace("%Link-Booking%", ViewBag.LinkBookingAppointment))
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-about-us mt-4">
                                    <img src="~/Content/images/home/home_about_us_1.jpg" class="img-fluid img-thumbnail p-0" />
                                    <img src="~/Content/images/home/home_about_us_2.jpg" class="img-fluid img-thumbnail p-0" />
                                    <img src="~/Content/images/home/home_about_us_3.jpg" class="img-fluid img-thumbnail p-0" />
                                    <img src="~/Content/images/home/home_about_us_4.jpg" class="img-fluid img-thumbnail p-0" />
                                    <img src="~/Content/images/home/home_about_us_5.jpg" class="img-fluid img-thumbnail p-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 text-center my-1 col-md-12">
                        <img src="/Content/images/home/home_about_us.jpg" class="img-fluid img-thumbnail p-1" />
                    </div>
                    <div class="col-md-12 py-3">
                        <div class="box-inner mx-xl-5 mx-md-5 mx-2">
                            <div class="text-center">
                                <h3>appointment</h3>
                                <h6>Book Time To Get Manicure</h6>
                            </div>
                            <div class="d-flex justify-content-center">
                                <ul>
                                    <li>Get 10% OFF on main services your BIRTHDAY (Must present ID)</li>
                                    <li>Get 10% OFF on main services for MEDICAL STAFFS on Monday (Must present Badge)</li>
                                    <li>Get 10% OFF on main services for STUDENTS and MILITARY on Tuesday (Must present student ID)</li>
                                    <li>Get 10% OFF on main services for TEACHERS and SENIORS (Over 65 years old on Wednesday)</li>
                                    <li>Happy Hour (10AM - 2PM) Get 10% OFF All Services Only Monday & Tuesday</li>
                                    <li>Get 10% OFF All Services for Military Only Wednesday</li>
                                    <li>Pay Cash Get 5% Discount</li>
                                    <li>Reward Program 200 Points Get $5 Discount</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script src="~/Content/js/lightbox.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-about-us");

        var sliderInit = $('.sliders');
        var sliderAboutUs = $('.slider-about-us');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                fade: @(IsFade_PageBanner ? "true" : "false"),
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
            sliderInit.slickAnimation();

            sliderInit.on('touchstart', e => {
                sliderInit.slick('slickPlay');
            });

            sliderAboutUs.slick({
                dots: true,
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
        });
    </script>
}