@{
    ViewBag.Title = "About Us";
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/page-about-us.css" rel="stylesheet">
}
<main>
    @{Html.RenderPartial("_SliderSub");}
    <section class="bg">
        <div class="bg-about-us">
            <div class="bg-overlay"></div>
            <div class="page-main container py-5">
                <div class="row">
                    <div class="col-md-12 text-center mb-5"><h1><span class="font-Parisienne">About Us</span></h1></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center mt-3">
                        @Html.Raw(string.Format("{0}", ViewBag.AboutUs))
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-about-us");

        var sliderInit = $('.slider-banner');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 3000,
                easing: 'linear'
            });
            sliderInit.slickAnimation();
        });
    </script>
}