@{
    ViewBag.Title = "Contact";
}
@section css{
    <link href="~/Content/css/page-contact.css" rel="stylesheet">
}
<main class="bg-main">
    <section class="bg">
        <div class="bg-contact">
            <div class="overlay"></div>
            <div class="box-inner text-center">
                <h1><span class="description">@ViewBag.Name</span></h1>
            </div>
        </div>
    </section>
    <div class="page-main">
        @{ Html.RenderPartial("_Contact_Address_1"); }
        @{ Html.RenderPartial("_Contact_Gallery_1"); }
        <section class="py-4 container-fluid">
            <div class="row justify-content-center">
                <div class="col-xxl-3 col-xl-5 col-lg-5 col-md-6 mb-3">
                    <div class="card h-100">
                        <img src="~/Content/images/contact/the-mark-athens.jpg" class="card-img-top" alt="The Mark Athens">
                        <div class="card-body text-center px-0">
                            <div class="card-title"><h6 class="py-2">The Mark Athens</h6></div>
                            <div class="card-text">
                                <p>125 Hickory St Athens, GA 30601</p>
                                <p>(706)-247-7747</p>
                                <p>Mon - Sat: 10:00am - 7:00pm</p>
                                <p>Sun: 12:00pm - 5:00pm</p>
                                <p>sugarpolishathens@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-5 col-lg-5 col-md-6 mb-3">
                    <div class="card h-100">
                        <img src="~/Content/images/contact/westside-village-atlanta-midtown.jpg" class="card-img-top" alt="Westside Village Atlanta Midtown">
                        <div class="card-body text-center px-0">
                            <div class="card-title"><h6 class="py-2">Westside Village Atlanta Midtown</h6></div>
                            <div class="card-text">
                                <p>2250 Marietta Blvd NW Suite 200, Atlanta, GA 30318</p>
                                <p>(404)-600-2374</p>
                                <p>Mon - Fri: 10:00am - 7:30pm</p>
                                <p>Sat: 9:30am - 7:30pm</p>
                                <p>Sun: 12:00pm - 5:00pm</p>
                                <p>sugarpolishmidtown@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-5 col-lg-5 col-md-6 mb-3">
                    <div class="card h-100">
                        <img src="~/Content/images/contact/roswell.jpg" class="card-img-top" alt="Roswell">
                        <div class="card-body text-center px-0">
                            <div class="card-title"><h6 class="py-2">Roswell</h6></div>
                            <div class="card-text">
                                <p>860 Marietta Hwy Roswell, GA 30075</p>
                                <p>(770)-229-1433</p>
                                <p>Mon - Sat: 10:00am - 7:00pm</p>
                                <p>Sun: 12:00pm - 6:00pm</p>
                                <p>sugarpolishnailbar@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-5 col-lg-5 col-md-6 mb-3">
                    <div class="card h-100">
                        <img src="~/Content/images/contact/sugar-polish-at-wire-park.jpg" class="card-img-top" alt="Sugar Polish at Wire Park">
                        <div class="card-body text-center px-0">
                            <div class="card-title"><h6 class="py-2">Sugar Polish at Wire Park</h6></div>
                            <div class="card-text">
                                <p>1725 Electric Avenue Watkinsville, GA 30677</p>
                                <p>(706)-705-1675</p>
                                <p>Mon - Sat: 10:00am - 7:00pm</p>
                                <p>Sun: 12:00pm - 5:00pm</p>
                                <p>sugarpolishwp@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-contact");
    </script>
}