@{
    ViewBag.Title = "Contact";
}
@section css{
    <link href="~/Content/css/page-contact.css" rel="stylesheet">
}
<main class="bg-main">
    <section class="bg">
        <div class="bg-contact">
            <div class="overlay"></div>
            <div class="box-inner text-center">
                <h1><span class="description">@ViewBag.Name</span></h1>
            </div>
        </div>
    </section>
    <div class="page-main">
        @{ Html.RenderPartial("_Contact_Address_1"); }
        @{ Html.RenderPartial("_Contact_Gallery_1"); }
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-contact");
    </script>
}