@{
    ViewBag.Title = "Contact";
}
@section css{
    <link href="~/Content/css/page-contact.css" rel="stylesheet">
}
<main class="bg-main">
    <section class="bg">
        <div class="bg-contact">
            <div class="overlay"></div>
            <div class="text-center">
                <h1><span class="description">Flower Mound Nail Spa</span></h1>
            </div>
        </div>
    </section>
    <div class="page-main">
        <section class="py-5 container">
            <div class="row">
                <div class="col-md-6">
                    <div class="box-tel">
                        <a href="@ViewBag.HyperLinkTell" target="_self" class="btn btn-success btn-tel">
                            <span>@ViewBag.TextTell</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-contact">
                        <a href="@string.Format("https://goo.gl/maps/wmANL1T9FxriWtC98")" target="_blank" class="btn btn-success btn-contact">
                            <span>1221 Flower Mound Rd #330, Flower Mound, TX 75028</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-map my-4">
                        <div class="px-2 py-2">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d418.2190808781265!2d-97.04800245040128!3d33.010296200000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c2c54fff04755%3A0x2af057b6c754274!2sFlower%20Mound%20Nail%20Spa%20(10%25%20OFF%20Coupon)!5e0!3m2!1svi!2s!4v1682955841412!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 my-3">
                        <div class="bg bg-close-up"></div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="bg bg-dandelion"></div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="bg bg-hand-flowers"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-contact");
    </script>
}