@{
    ViewBag.Title = "Contact";
    var Banner_Contact = (List<Dictionary<string, string>>)ViewBag.Banner_Contact;
}
@section css{
    <link href="~/Content/css/page-contact.css" rel="stylesheet">
}
@section custom_css{
    <link href="~/Content/custom-css/site.css" rel="stylesheet">
}
<main class="bg-main">
    <section class="bg contact-banner">
        <div class="bg-contact d-flex @(Banner_Contact[0]["Text_ItemAlign"])">
            <div class="overlay"></div>
            <div class="container-xl">
                <div class="row @(Banner_Contact[0]["Text_JustifyContent"])">
                    <div class="col-auto">
                        <div class="text-center py-md-3 py-0">
                            <h1 class="fs-2">
                                <span class="description">
                                    <span class="text-capitalize">
                                        @(Html.Raw(string.Format("{0}", ViewBag.Name).Replace("Spa", "Spa<br/>").ToLower()))
                                    </span>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="page-main">
        @{ Html.RenderPartial("_Contact_Address_1"); }
        @{ Html.RenderPartial("_Contact_Gallery_1"); }
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-contact");
    </script>
}