@{
    ViewBag.Title = "Contact";
}
@section css{
    <link href="~/Content/css/page-contact.css" rel="stylesheet">
}
<main class="bg-main">
    <section class="bg">
        <div class="bg-contact">
            <div class="overlay"></div>
            <div class="container-xl">
                <div class="row justify-content-center justify-content-md-end">
                    <div class="col-xl-4 col-lg-5 col-md-12">
                        <div class="text-center py-3">
                            <h1><span class="description">@Html.Raw(string.Format("{0}", ViewBag.Name))</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="page-main">
        @{ Html.RenderPartial("_Contact_Address_1"); }
        @{ Html.RenderPartial("_FormContact"); }
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-contact");

        $(document).ready(function () {
            InitValidateContact();
        });
    </script>
}