@{
    ViewBag.Title = "Contact";
}
@section css{
    <link href="~/Content/css/page-contact.css" rel="stylesheet">
}
<main class="bg-main">
    <section class="bg">
        <div class="bg-contact">
            <div class="overlay"></div>
            <div class="text-center">
                <h1><span class="description">@ViewBag.Name</span></h1>
            </div>
        </div>
    </section>
    <div class="page-main">
        @{ Html.RenderPartial("_Contact_Address_1"); }
        @{ Html.RenderPartial("_Contact_Message"); }
        @{ Html.RenderPartial("_Contact_Gallery_1"); }
    </div>
</main>
@section modal{
    <div class="modal fade" id="ModalMessage" tabindex="-1" aria-labelledby="ModalMessageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-contact");

        $(document).ready(function () {
            $("#frmSendMessage").validate({
                rules: {
                    YourName: "required",
                    YourEmail: { required: true, email: true },
                    Subject: "required",
                    YourMessage: "required"
                },
                messages: {
                    YourName: { required: "Require input Your name" },
                    YourEmail: { required: "Require input Your email", email: "Invalid Your email" },
                    Subject: { required: "Require Subject" },
                    YourMessage: { required: "Require Your message" }
                },
                submitHandler: function (form) {
                    $("body").addClass("loader");
                    $("body").append("<div class='loading'></div>");
                    $.ajax({
                        type: "POST",
                        url: "/contact.html",
                        data: $(form).serialize(),
                        success: function (result) {
                            if (result.messages == "OK") {
                                $(".loading", "body").remove();
                                $("body").removeClass("loader");
                                document.forms[0].reset();
                                $(".modal-body", "#ModalMessage").html("Thank you for your message. It has been sent. We will get back with you shortly.");
                                $("#ModalMessage").modal("show");
                            }
                        },
                    });
                    return false;
                }
            });
        })
    </script>
}