@{
    ViewBag.Title = "Contact";
}
@section css{
    <link href="~/Content/css/page-contact.css" rel="stylesheet">
}
<main class="bg-main">
    <section class="bg contact-banner">
        <div class="bg-contact">
            <div class="overlay"></div>
            <div class="container-xl">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="text-center py-md-3 py-5">
                            <h1 class="fs-1">
                                <span class="description">
                                    <span class="text-capitalize">
                                        @(Html.Raw(string.Format("{0}", ViewBag.Name).Replace("Spa", "Spa<br/>").ToLower()))
                                    </span>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="page-main">
        @{ Html.RenderPartial("_Contact_Address_1"); }
        @{ Html.RenderPartial("_Contact_Gallery_1"); }
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-contact");
    </script>
}