@{
    ViewBag.Title = "Gift Manage";
}

@section css{
    <style type="text/css">
        #gift-manage {
            min-height: 350px;
        }
    </style>
}
<main class="bg-main">
    <div class="container-lg">
        <div class="row justify-content-center h-100">
            <div class="col-8 text-center d-flex justify-content-center h-100 align-items-center" id="gift-manage">
                
            </div>
        </div>
    </div>
</main>
@section modal{
    
}
@section scripts{
    
}