@{
    ViewBag.Title = "Payment";
}
@section css{
    <link href="~/Content/css/payments.css" rel="stylesheet" />
}
<main class="bg-main py-5">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="qpp-style default py-2">
                    <div id="plain">
                        <form action="/process.html" method="post">
                            <input type="hidden" name="img" id="img" value="@ViewBag.Img" />
                            <h2 id="qpp_reload" class="qpp-header">Payment Form</h2>
                            <div class="qpp_nice_label qpp_label_blur">
                                <input type="number" id="amount" name="amount" placeholder="Amount to pay" class="required" />
                            </div>
                            <div class="qpp_nice_label qpp_label_blur">
                                <input type="text" id="name_receiver" name="name_receiver" placeholder="Receiver name" class="required" />
                            </div>
                            <div class="qpp_nice_label qpp_label_blur">
                                <input type="email" id="stock" name="stock" placeholder="Receiver email address" class="required" />
                            </div>
                            <div class="qpp_nice_label qpp_label_blur">
                                <input type="text" id="name_buyer" name="name_buyer" placeholder="Buyer name" class="required" />
                            </div>
                            <div class="qpp_nice_label qpp_label_blur">
                                <input type="email" id="email" name="email" placeholder="Buyer email address" class="required" />
                            </div>
                            <div class="qpp_nice_label qpp_label_blur">
                                <input type="text" id="codesale" name="codesale" placeholder="Discount Code" class="" /><button type="button" class="btn btn-danger btn-theme" onclick="GetDiscounts()">Get Code Discount</button>
                            </div>
                            <div class="qpp_nice_label qpp_label_blur">
                                <textarea rows="4" id="message" name="message" placeholder="Comment" class="required"></textarea>
                            </div>
                            <p class="submit pay-button">
                                <input type="image" name="submit" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_107x26.png" alt="Buy Now">
                            </p>
                            <div id="qppchecking">Validating payment information...</div>
                        </form>
                        <div class="qpp-loading">Waiting for PayPal...</div>
                        <div class="qpp-validating-form">Validating payment information...</div>
                        <div class="qpp-processing-form">Waiting for PayPal...</div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section modal{
    <div class="modal fade" id="ModalMessage" tabindex="-1" aria-labelledby="ModalMessageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalDiscounts" tabindex="-1" aria-labelledby="ModalDiscountLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        var timer = null;
        $(document).ready(function () {
            $("form").validate({
                rules: {
                    amount: {
                        required: true,
                        min: 1,
                        digits: true
                    }
                }
            });
            $("input[name='submit']").on("click", function () {
                if ($("form").valid()) {
                    $("form").submit();
                }
            });

            $("#codesale,#amount").keydown(function () {
                clearTimeout(timer);
                timer = setTimeout(CheckDiscount, 1000);
            });
        });

        function CheckDiscount() {
            var strDiscount = $("#codesale").val();
            var intAmount = $("#amount").val();
            if (strDiscount != null && strDiscount != '' && intAmount != null && intAmount != '') {
                $.ajax({
                    type: "POST",
                    url: "/check-discount.html",
                    data: { Code: strDiscount, Amount: intAmount },
                    success: function (result) {
                        if (!result.Status) {
                            $(".modal-body", "#ModalMessage").html("").append("<p>" + result.Message + "</p>");
                            $("#ModalMessage").modal("show");
                        }
                    },
                });
            }
        }

        function GetDiscounts() {
            $.ajax({
                type: "POST",
                url: "/get-discounts.html",
                success: function (result) {
                    $(".modal-body", "#ModalDiscounts").html("");
                    if (result && result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            var item = result[i];
                            $(".modal-body", "#ModalDiscounts").append("<p>- Code: <b><a href='javascript:void(0);' onclick='AutoInputDiscountCode(this)' data-minimum-amount='" + item.MinAmountSaleOff + "' data-code='" + item.Code + "'>" + item.Code + "</a></b> for sale off <b>" + item.Sale + "%</b> amount value.</p>");
                        }
                    }
                    $("#ModalDiscounts").modal("show");
                },
            });
        }

        function AutoInputDiscountCode(obj) {
            $("#codesale").val($(obj).attr("data-code"));
            $("#amount").val($(obj).attr("data-minimum-amount"));
            $("#ModalDiscounts").modal("hide");
        }
    </script>
}