@{
    ViewBag.Title = "Price List";
    var Prices = (List<WebNails.Models.PricesModel>)ViewBag.Prices;
    Prices = Prices.Where(x => !string.IsNullOrEmpty(x.Src) && x.Status).ToList();
}
@section css{
    <link href="~/Content/css/page-prices.css" rel="stylesheet">
}
<main class="bg-main">
    <div class="overlay"></div>
    <div class="page-main">
        <section class="py-5 container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="manicure">
                            <div class="box-inner mx-md-3 my-3 px-md-3 py-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Manicure</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-10"><b>MANICURE CLASSIC</b></div>
                                                    <div class="col-2 text-end"><b>$25<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>MANICURE GEL</b></div>
                                                    <div class="col-2 text-end"><b>$42<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>MANICURE FRENCH</b></div>
                                                    <div class="col-2 text-end"><b>$47<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>PEDICURE AND MANICURE</b></div>
                                                    <div class="col-2 text-end"><b>$50<span>&nbsp;</span></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="nail-enhancements">
                            <div class="box-inner mx-md-3 my-3 px-md-3 py-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Nail Enhancements</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-10"><b>ACRYLIC (FILL)</b></div>
                                                    <div class="col-2 text-end"><b>$35<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><i>ACRYLIC (FULL)</i></div>
                                                    <div class="col-2 text-end"><b>$45<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>GEL ACRYLIC (FILL)</b></div>
                                                    <div class="col-2 text-end"><b>$50<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><i>GEL ACRYLIC (FULL)</i></div>
                                                    <div class="col-2 text-end"><b>$60<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>COLOR POWDER (FILL)</b></div>
                                                    <div class="col-2 text-end"><b>$55<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><i>COLOR POWDER (FULL)</i></div>
                                                    <div class="col-2 text-end"><b>$65<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>DIPPING OMBRE</b></div>
                                                    <div class="col-2 text-end"><b>$60<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><i>OMBRE PINK&WHITE (FILL)</i></div>
                                                    <div class="col-2 text-end"><b>$60<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>OMBRE PINK&WHITE (FULL)</b></div>
                                                    <div class="col-2 text-end"><b>$70<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>PINK&WHITE (FILL)</b></div>
                                                    <div class="col-2 text-end"><b>$60<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>PINK&WHITE (FULL)</b></div>
                                                    <div class="col-2 text-end"><b>$70<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>DIPPING POWDER</b></div>
                                                    <div class="col-2 text-end"><b>$50<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>DIPPING WITH TIP</b></div>
                                                    <div class="col-2 text-end"><b>$55<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>LIQUID GEL (FILL)</b></div>
                                                    <div class="col-2 text-end"><b>$65<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>LIQUID GEL (FULL)</b></div>
                                                    <div class="col-2 text-end"><b>$75<span>&nbsp;</span></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="pedicure">
                            <div class="box-inner mx-md-3 my-3 px-md-3 py-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">PEDICURE</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-10"><b>CLASSIC PEDICURE</b></div>
                                                    <div class="col-2 text-end"><b>$35<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>Classic Pedicure includes toe nails shaping, cuticle grooming, feet scrub, massage with lotion and finish with your choice of polish.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>LUXURY PEDICURE</b></div>
                                                    <div class="col-2 text-end"><b>$45<span>&nbsp;</span></b></div>
                                                    <div class="col-12">
                                                        <p>
                                                            An upgrade from the Classic Pedicure enhanced with sea salt soak to detoxify & deodorize your skin.
                                                            Then, callus removal is applied to remove dry & crack heels. Finish with lotion massage and your choice of polish.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>DELUXE PEDICURE</b></div>
                                                    <div class="col-2 text-end"><b>$55<span>&nbsp;</span></b></div>
                                                    <div class="col-12">
                                                        <p>
                                                            Our Deluxe Pedicure begins with a foot soak, grooming of your nails and cuticles.
                                                            To break down skin impurities, dryness, and dead skin cells, an effective callus removal foot treatment is applied.
                                                            Followed by sea salt scrub and moisturizing mask wrap with hot towels to improve the appearance of the skin.
                                                            Finish with lotion massage and your choice of polish.
                                                            SCENT OF YOUR CHOICE: Cucumber, Lavender, Green Tea, Pomegranate, Aloe vera, Olive, Peppermint.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>CHARCOAL DETOX PEDICURE</b></div>
                                                    <div class="col-2 text-end"><b>$65<span>&nbsp;</span></b></div>
                                                    <div class="col-12">
                                                        <p>
                                                            Charcoal is used for the emergency treatment of poisoning.
                                                            It attacks and traps chemicals where is then removed from the body safely as metabolic waste.
                                                            Your Charcoal Detoxifying Pedicure begins with placing your feet into a warm tub with activated charcoal to soak and massage your legs with the activated charcoal scrub to help exfoliate dry or hardened skin.
                                                            Includes a charcoal mask wrapped in hot towels and oil massage with paraffin wax to release stress and sore muscles, leaving a sheer radiant glow.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>PEARL SPA PEDICURE</b></div>
                                                    <div class="col-2 text-end"><b>$70<span>&nbsp;</span></b></div>
                                                    <div class="col-12">
                                                        <p>
                                                            The Pearl treatment pedicure, known for its beauty and health benefits, consists of six steps: Pearl Spa Soak, Hydrating Cleanser, Sugar Scrub, Nourishing Mask & Praffin Wax, Massage Cream with oil, and Moisturizing Lotion & Hot Towels.
                                                            Rich in calcium and protein, it's believed to promote bone development and overall well-being, offering a holistic self-care experience
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>COLLAGEN PEDICURE</b></div>
                                                    <div class="col-2 text-end"><b>$75<span>&nbsp;</span></b></div>
                                                    <div class="col-12">
                                                        <p>
                                                            Spend some time with us as our staff will provide you with the pampering you deserve.
                                                            The pedicure is great for healing, moisturizing dry and cracked skin, making it silky and smooth again.
                                                            The collagen pedicure begins with Gold Soak Powder to detoxify & deodorize the feet.
                                                            Then, Gold Scrub to exfoliate dead skin and relieve dryness.
                                                            This is followed by Gold Mud Mask wrap with hot towels to cleanse pores for smoother skin.
                                                            Next, Gold Massage Cream to hydrate and soothe deep tissues.
                                                            Finally, Gold Body Butter massage to hydrate and soothe skin.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>NU SKIN PEDICURE</b></div>
                                                    <div class="col-2 text-end"><b>$80<span>&nbsp;</span></b></div>
                                                    <div class="col-12">
                                                        <p>
                                                            Nu Skin is our very special and top Spa Pedicure.
                                                            Nu Skin utilizes products like the Herbal Mineral Bath, Liquid Body Lufra, Ice Dancer Invigorating Gel Sole Solution Foot Treatment, and baobab Body Butter to revive, refresh, and comfort your feet for the ultimate relief sensation.
                                                            Also, includes hot towels, hot stone massage and paraffin wax.
                                                            This will relieve stress for your tired feet and increase your long day working legs circulation.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 text-center"><b><i>ADD GEL POLISH: Our pedicure packages include regular polish - $15</i></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="additional-services">
                            <div class="box-inner mx-md-3 my-3 px-md-3 py-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Additional Services</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-10"><b>MATTE TOP COAT TO GEL POLISH</b></div>
                                                    <div class="col-2 text-end"><b>$5<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>CAT EYE</b></div>
                                                    <div class="col-2 text-end"><b>$5<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>DIP/ACRYLIC REMOVAL</b></div>
                                                    <div class="col-2 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>GEL POLISH HANDS</b></div>
                                                    <div class="col-2 text-end"><b>$30<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>GEL POLISH TOES</b></div>
                                                    <div class="col-2 text-end"><b>$35<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>REG. POLISH HANDS</b></div>
                                                    <div class="col-2 text-end"><b>$12<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>GEL REMOVAL</b></div>
                                                    <div class="col-2 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>REG. POLISH TOES</b></div>
                                                    <div class="col-2 text-end"><b>$17<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>FRENCH TIP</b></div>
                                                    <div class="col-2 text-end"><b>$5<span>&nbsp;</span></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="little-kid-services">
                            <div class="box-inner mx-md-3 my-3 px-md-3 py-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Little Diva<br/>(11 yrs- under)</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-10"><b>MANICURE LITTLE DIVA</b></div>
                                                    <div class="col-2 text-end"><b>$20<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>PEDICURE LITTLE DIVA</b></div>
                                                    <div class="col-2 text-end"><b>$30<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>GEL POLISH TOES LITTLE DIVA</b></div>
                                                    <div class="col-2 text-end"><b>$25<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>REG. POLISH NAILS LITTLE DIVA</b></div>
                                                    <div class="col-2 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>REG. POLISH TOES LITTLE DIVA</b></div>
                                                    <div class="col-2 text-end"><b>$12<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>GEL POLISH NAILS LITTLE DIVA</b></div>
                                                    <div class="col-2 text-end"><b>$20<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10"><b>ADD GEL POLISH</b></div>
                                                    <div class="col-2 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner mx-md-3 my-3 px-md-3 py-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-text">
                                <div class="box-prices text-center">
                                    <h4><b>** Pricing May Change According to Additional Adjustments to Services **</b></h4>
                                    <p>3.5% processing fee on Card transactions.</p>
                                    <h5><b>Contact us for more Information.</b></h5>
                                    <h5><b>Thank You!</b></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-price-list");
    </script>
}