@{
    ViewBag.Title = "Price List";
    var Prices = (List<WebNails.Models.PricesModel>)ViewBag.Prices;
    Prices = Prices.Where(x => !string.IsNullOrEmpty(x.Src) && x.Status).ToList();
}
@section css{
    <link href="~/Content/css/page-prices.css" rel="stylesheet">
}
@section custom_css{
    <link href="~/Content/custom-css/site.css" rel="stylesheet">
}
<main class="bg-main">
    <div class="overlay"></div>
    <div class="page-main">
        <section class="py-2 container-xl">
            <div class="row">
                <div class="col-lg-12 d-block text-center my-5"><h1 class="fs-1"><span class="font-Parisienne text-theme fw-bold">@(ViewBag.Title)</span></h1></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12" id="manicure-pedicure">
                                    <div class="box-inner mb-md-4 mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image">
                                                        <div class="text-center pt-4">
                                                            <h2 class="font-Prata fs-4">Haircuts</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text">
                                                    <div class="box-prices">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-10"><b>Shampoo & Haircut</b></div>
                                                                    <div class="col-2 text-end"><b>$35<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Shampoo, haircut and blow-dry</b></div>
                                                                    <div class="col-2 text-end"><b>$45<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Shampoo, haircut and style</b></div>
                                                                    <div class="col-2 text-end"><b>$45<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Men haircut</b></div>
                                                                    <div class="col-2 text-end"><b>$18<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Preteens</b></div>
                                                                    <div class="col-2 text-end"><b>$15<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Children haircut</b></div>
                                                                    <div class="col-2 text-end"><b>$10<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Color, cut and style</b></div>
                                                                    <div class="col-2 text-end"><b>$85<span>+</span></b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12" id="nail-design">
                                    <div class="box-inner mb-md-4 mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image">
                                                        <div class="text-center pt-4">
                                                            <h2 class="font-Prata fs-4">Hair Coloring</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text">
                                                    <div class="box-prices">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-10"><b>All over color</b></div>
                                                                    <div class="col-2 text-end"><b>$75<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Area highlights</b></div>
                                                                    <div class="col-2 text-end"><b>$50<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Partial highlight</b></div>
                                                                    <div class="col-2 text-end"><b>$65<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Full highlight</b></div>
                                                                    <div class="col-2 text-end"><b>$85<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-9"><b>Dimensional highlight</b></div>
                                                                    <div class="col-3 text-end"><b>$120<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Color retouch</b></div>
                                                                    <div class="col-2 text-end"><b>$65<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Men color</b></div>
                                                                    <div class="col-2 text-end"><b>$35<span>+</span></b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12" id="waxing">
                                    <div class="box-inner mb-md-4 mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image">
                                                        <div class="text-center pt-4">
                                                            <h2 class="font-Prata fs-4">Hair Styling</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text">
                                                    <div class="box-prices">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-10"><b>Shampoo blow-dry style</b></div>
                                                                    <div class="col-2 text-end"><b>$30<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Special occasion styling</b></div>
                                                                    <div class="col-2 text-end"><b>$45<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Updos</b></div>
                                                                    <div class="col-2 text-end"><b>$45<span>+</span></b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" id="nail-enhancements">
                                    <div class="box-inner mb-md-4 mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image">
                                                        <div class="text-center pt-4">
                                                            <h2 class="font-Prata fs-4">Texture Services</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text">
                                                    <div class="box-prices">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-10"><b>Perm</b></div>
                                                                    <div class="col-2 text-end"><b>$65<span>+</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Flat iorn service</b></div>
                                                                    <div class="col-2 text-end"><b>$45<span>&nbsp;</span></b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12" id="nail-enhancements">
                                    <div class="box-inner mb-md-4 mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image">
                                                        <div class="text-center pt-4">
                                                            <h2 class="font-Prata fs-4">Other Services</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text">
                                                    <div class="box-prices">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-10"><b>Facial wax</b></div>
                                                                    <div class="col-2 text-end"><b>$25<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Brow or lip wax</b></div>
                                                                    <div class="col-2 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Bang, neck, or beard trim</b></div>
                                                                    <div class="col-2 text-end"><b>$8<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Deep conditioning treatment</b></div>
                                                                    <div class="col-2 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-10"><b>Threading</b></div>
                                                                    <div class="col-2 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inner mb-md-4 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-text">
                                            <div class="box-prices text-center">
                                                <p><b>**** Extra charge may apply depending on color, length and thickness of hair ****</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-price-list");
    </script>
}