@{
    ViewBag.Title = "Price List";
    var Prices = (List<WebNails.Models.PricesModel>)ViewBag.Prices;
    Prices = Prices.Where(x => !string.IsNullOrEmpty(x.Src) && x.Status).ToList();
}
@section css{
    <link href="~/Content/css/page-prices.css" rel="stylesheet">
}
<main class="bg-main">
    <div class="overlay"></div>
    <div class="page-main">
        <section class="py-5 container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="manicure">
                            <div class="box-inner m-3 p-3">
                                <div class="box-image my-3">
                                    <div class="image-manicure">
                                        <div class="text-center py-4">
                                            <h2 class="font-Prata">MANICURE</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10"><b>CLASSIC MANICURE</b></div>
                                        <div class="col-2 text-end"><b>$18<span>&nbsp;</span></b></div>
                                        <div class="col-12"><p>Hand soak, cuticle trim, nail shaping, hot towels and regular polish applied.</p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>DELUXE MANICURE</b></div>
                                        <div class="col-2 text-end"><b>$32<span>&nbsp;</span></b></div>
                                        <div class="col-12">
                                            <p>Includes all Classic service plus basalt hot stone massage, hydrating mask, heated neck pads followed by shoulder massage.</p>
                                            <p>Choose: Lavender, Cucumber, Pomegranate, Jasmine</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>SIGNATURE MANICURE</b></div>
                                        <div class="col-2 text-end"><b>$42<span>&nbsp;</span></b></div>
                                        <div class="col-12">
                                            <p>All amenities of Deluxe service with hand mixed sugar scrubs, paraffin dip and longer hand massage.</p>
                                            <p>Choose: Lavender, Cherry Blossom, Jasmine, Freesia</p>
                                            <p>*Shellac/ Gel polish add-on: extra $20 - $25*</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>SHELLAC/ GEL MANICURE</b></div>
                                        <div class="col-2 text-end"><b>$35<span>&nbsp;</span></b></div>
                                        <div class="col-12"><p>(Hand soak, cuctile trim, nail shaping, apply shellac polish, hand massage and hot towels)</p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>SHELLAC FRENCH EXTRA</b></div>
                                        <div class="col-2 text-end"><b>$5<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>SHELLAC TAKE OFF EXTRA</b></div>
                                        <div class="col-2 text-end"><b>$5<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>SHELLAC TAKE OFF WITHOUT SERVICE</b></div>
                                        <div class="col-2 text-end"><b>$15<span>&nbsp;</span></b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="artificial-nails">
                            <div class="box-inner m-3 p-3">
                                <div class="box-image my-3">
                                    <div class="image-artificial-nails">
                                        <div class="text-center py-4">
                                            <h2 class="font-Prata">ARTIFICIAL NAILS</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10"><b>CLEAR TIP WITH SHELLAC POLISH FULL SET</b></div>
                                        <div class="col-2 text-end"><b>$55<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>CLEAR TIP WITH SHELLAC POLISH FILL</b></div>
                                        <div class="col-2 text-end"><b>$48<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>COLOR POWDER FULL SET</b></div>
                                        <div class="col-2 text-end"><b>$48<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>COLOR POWDER FILL</b></div>
                                        <div class="col-2 text-end"><b>$40<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>OMBRE COLOR POWDER FULL SET</b></div>
                                        <div class="col-2 text-end"><b>$58<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>OMBRE COLOR POWDER FILL</b></div>
                                        <div class="col-2 text-end"><b>$50<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>WHITE TIP/ PEARL TIP WITH CLEAR POWDER FULL SET</b></div>
                                        <div class="col-2 text-end"><b>$48<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>WHITE TIP/ PEARL TIP WITH CLEAR POWDER FILL</b></div>
                                        <div class="col-2 text-end"><b>$35<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>PINK & WHITE POWDER/ TIP COLOR POWER FULL SET</b></div>
                                        <div class="col-2 text-end"><b>$53<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>PINK & WHITE POWDER/ TIP COLOR POWER FILL</b></div>
                                        <div class="col-2 text-end"><b>$45<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>PINK ONLY</b></div>
                                        <div class="col-2 text-end"><b>$35<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>FULL SET TAKE OFF EXTRA</b></div>
                                        <div class="col-2 text-end"><b>$5<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>FULL SET TAKE OFF WITHOUT SERVICE</b></div>
                                        <div class="col-2 text-end"><b>$15<span>+</span></b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="little-kid-services">
                            <div class="box-inner m-3 p-3">
                                <div class="box-image my-3">
                                    <div class="image-little-kid-services">
                                        <div class="text-center py-4">
                                            <h2 class="font-Prata">LITTLE KID SERVICES</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10"><b>CLASSIC PEDICURE</b></div>
                                        <div class="col-2 text-end"><b>$22<span>&nbsp;</span></b></div>
                                        <div class="col-12"><p>A warm feet soak with cuticle cleaning, nail shaping, sea salt exfoliation, hot towels, foot massage, and regular polish.</p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>CLASSIC MANICURE</b></div>
                                        <div class="col-2 text-end"><b>$12<span>&nbsp;</span></b></div>
                                        <div class="col-12">
                                            <p>Hand soak, cuticle trim, nail shaping and regular polish applied.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>POLISH CHANGE ON HANDS / FEET</b></div>
                                        <div class="col-2 text-end"><b>$8<span>&nbsp;</span></b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="polish-change">
                            <div class="box-inner m-3 p-3">
                                <div class="box-image my-3">
                                    <div class="image-polish-change">
                                        <div class="text-center py-4">
                                            <h2 class="font-Prata">POLISH CHANGE</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10"><b>HANDS/FEET (REGULAR POLISH)</b></div>
                                        <div class="col-2 text-end"><b>$13<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>HANDS/FEET (SHELLAC POLISH)</b></div>
                                        <div class="col-2 text-end"><b>$30<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>FRENCH TIP</b></div>
                                        <div class="col-2 text-end"><b>$5<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>SHELLAC TAKE OFF</b></div>
                                        <div class="col-2 text-end"><b>$5<span>&nbsp;</span></b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="facial">
                            <div class="box-inner m-3 p-3">
                                <div class="box-image my-3">
                                    <div class="image-facial">
                                        <div class="text-center py-4">
                                            <h2 class="font-Prata">FACIAL</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-12">
                                            <p>A revitalizing treatment which includes pores cleansing, exfoliate, hot towel wrap, neck, shoulder massage and mask to refresh your skin</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>45 MINS</b></div>
                                        <div class="col-2 text-end"><b>$50<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>60 MINS</b></div>
                                        <div class="col-2 text-end"><b>$65<span>&nbsp;</span></b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="pedicure">
                            <div class="box-inner m-3 p-3">
                                <div class="box-image my-3">
                                    <div class="image-pedicure">
                                        <div class="text-center py-4">
                                            <h2 class="font-Prata">PEDICURE</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10"><b>CLASSIC PEDICURE</b></div>
                                        <div class="col-2 text-end"><b>$30<span>&nbsp;</span></b></div>
                                        <div class="col-12"><p>A warm feet soak with cuticle cleaning, nail shaping, callus removal, sea salt exfoliation, hot towels, foot massage, and regular polish.</p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>DELUXE PEDICURE</b></div>
                                        <div class="col-2 text-end"><b>$42<span>&nbsp;</span></b></div>
                                        <div class="col-12">
                                            <p>Includes all Classic service plus basalt hot stone massage, hydrating mask, heated neck pads followed by shoulder massage.</p>
                                            <p>Choose: Lavender, Cucumber, Pomegranate, Jasmine</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>SIGNATURE PEDICURE</b></div>
                                        <div class="col-2 text-end"><b>$52<span>&nbsp;</span></b></div>
                                        <div class="col-12">
                                            <p>All amenities of Deluxe service with hand mixed sugar scrubs, paraffin dip and longer foot massage.</p>
                                            <p>Choose: Lavender, Cherry Blossom, Jasmine, Freesia</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>PEARL SPA PEDICURE</b></div>
                                        <div class="col-2 text-end"><b>$65<span>&nbsp;</span></b></div>
                                        <div class="col-12">
                                            <p>Using pearl soap to exfoliate all of the dead skin on your lower legs before you experience relaxing foot care service.</p>
                                            <p>Pearl scrub, clay mask and lotion contain over a dozen minerals. It will help your feet smoother, softer than it never has.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>CRYSTAL JELLY PEDICURE</b></div>
                                        <div class="col-2 text-end"><b>$65<span>&nbsp;</span></b></div>
                                        <div class="col-12">
                                            <p>For the adventurous who reap all benefits of our Signature service while soaking your feet in translucent jelly with Aloe Vera extracts.</p>
                                            <p>Gentle enough for sensitive skin while providing hydration for dry and tired skin.</p>
                                            <p>Choose: Lavender, Peppermint, Green Tea, Rose, Milk & Honey</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>CREAMY MILK PEDICURE</b></div>
                                        <div class="col-2 text-end"><b>$75<span>&nbsp;</span></b></div>
                                        <div class="col-12">
                                            <p>This is the next level of pedicure. Soaking your feet in hand-shake milk to soften your skin as well as the callus.</p>
                                            <p>Using Cuccio brand name of sugar scrubs, mask, and lotion and after all the steps of Signature pedicure, your feet will be soft as butter.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>JASMINE-COCONUT PEDICURE</b></div>
                                        <div class="col-2 text-end"><b>$80<span>&nbsp;</span></b></div>
                                        <div class="col-12">
                                            <p>Fresh slices of oranges and tiny rice beads are used to scrub to remove dull skin and fade uneven pigmentation.</p>
                                            <p>Coconut lotion is high in vitamin E and against dryness of your feet.</p>
                                            <p>All the products are developed by spa therapists with pure, safe, and certified organic ingredients.</p>
                                            <p>It will diminish dark spots and even your skin tone. This includes all Signature service plus longer massage on shoulder and lower legs.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>ADD-ONS</b></div>
                                        <div class="col-2 text-end"><b>$0<span>+</span></b></div>
                                        <div class="col-12">
                                            <p>*Shellac/ Gel polish add-on: extra $20 - $25*</p>
                                            <p>*Paraffin add-on: extra $10*</p>
                                            <p>*French tip/Design add-on: extra $5-$10*</p>
                                            <p>*Time for each service is approximate and vary slightly according to customer needed*</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="dipping-powder">
                            <div class="box-inner m-3 p-3">
                                <div class="box-image my-3">
                                    <div class="image-dipping-powder">
                                        <div class="text-center py-4">
                                            <h2 class="font-Prata">DIPPING POWDER</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10"><b>DIPPING COLOR WITHOUT NAILS TIP PUT ON</b></div>
                                        <div class="col-2 text-end"><b>$45<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>DIPPING COLOR WITH NAILS TIP PUT ON</b></div>
                                        <div class="col-2 text-end"><b>$50<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>FRENCH DIPPING EXTRA</b></div>
                                        <div class="col-2 text-end"><b>$5<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>DIPPING POWDER TAKE OFF EXTRA</b></div>
                                        <div class="col-2 text-end"><b>$5<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>DIPPING POWDER TAKE OFF WITHOUT SERVICE (NOT RE-DO)</b></div>
                                        <div class="col-2 text-end"><b>$15<span>+</span></b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="add-ons">
                            <div class="box-inner m-3 p-3">
                                <div class="box-image my-3">
                                    <div class="image-add-ons">
                                        <div class="text-center py-4">
                                            <h2 class="font-Prata">ADD ONS</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10"><b>COFFIN / ALMOND / POINTED/OVAL SHAPE EXTRA</b></div>
                                        <div class="col-2 text-end"><b>$5<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>LONG NAILS</b></div>
                                        <div class="col-2 text-end"><b>$5<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>NAILS DESIGN</b></div>
                                        <div class="col-2 text-end"><b>$5<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>MORE THAN 2 COLORS</b></div>
                                        <div class="col-2 text-end"><b>$5<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>CUT DOWN FINGER / TOES NAILS</b></div>
                                        <div class="col-2 text-end"><b>$8<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>FIX BROKEN NAILS / REPAIR 1 NAIL</b></div>
                                        <div class="col-2 text-end"><b>$5<span>+</span></b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="waxing">
                            <div class="box-inner m-3 p-3">
                                <div class="box-image my-3">
                                    <div class="image-waxing">
                                        <div class="text-center py-4">
                                            <h2 class="font-Prata">WAXING</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10"><b>EYEBROWS</b></div>
                                        <div class="col-2 text-end"><b>$12<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>EYEBROWS TINTING</b></div>
                                        <div class="col-2 text-end"><b>$25<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>LIPS</b></div>
                                        <div class="col-2 text-end"><b>$10<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>CHIN</b></div>
                                        <div class="col-2 text-end"><b>$12<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>NECK</b></div>
                                        <div class="col-2 text-end"><b>$20<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>SIDEBURNS</b></div>
                                        <div class="col-2 text-end"><b>$20<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>FOREHEAD</b></div>
                                        <div class="col-2 text-end"><b>$20<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>FULL FACE</b></div>
                                        <div class="col-2 text-end"><b>$40<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>UNDER ARMS</b></div>
                                        <div class="col-2 text-end"><b>$20<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>HALF ARMS</b></div>
                                        <div class="col-2 text-end"><b>$30<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>FULL ARMS</b></div>
                                        <div class="col-2 text-end"><b>$50<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>BIKINI</b></div>
                                        <div class="col-2 text-end"><b>$55<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>BRAZILIAN</b></div>
                                        <div class="col-2 text-end"><b>$70<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>STOMACH</b></div>
                                        <div class="col-2 text-end"><b>$35<span>&nbsp;</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>CHEST</b></div>
                                        <div class="col-2 text-end"><b>$45<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>BACK</b></div>
                                        <div class="col-2 text-end"><b>$55<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>HALF LEG</b></div>
                                        <div class="col-2 text-end"><b>$40<span>+</span></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10"><b>FULL LEGS</b></div>
                                        <div class="col-2 text-end"><b>$60<span>+</span></b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-price-list");

        $(document).ready(function () {
            var hash = window.location.hash;
            if (hash != '') {
                var index = hash.indexOf("#");
                if (index !== -1) {
                    var id = hash.substring(index + 1);
                    document.getElementById(id).scrollIntoView();
                }
            }
        });
    </script>
}