@{
    ViewBag.Title = "Price List";
    var Prices = (List<WebNails.Models.PricesModel>)ViewBag.Prices;
    Prices = Prices.Where(x => !string.IsNullOrEmpty(x.Src) && x.Status).ToList();
}
@section css{
    <link href="~/Content/css/page-prices.css" rel="stylesheet">
}
<main class="bg-main">
    <div class="overlay"></div>
    <div class="page-main">
        <section class="py-5 container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center font-Prata"><b>Nail Services</b></h1>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="manicure">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Manicure</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Basic Manicure</b></div>
                                                    <div class="col-3 text-end"><b>$20<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes nail trimming, shaping, cuticle grooming, and regular polishing.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Gel Manicure</b></div>
                                                    <div class="col-3 text-end"><b>$35<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes a basic manicure with gel polish.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Deluxe Manicure</b></div>
                                                    <div class="col-3 text-end"><b>$30<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes nail trimming, shaping, cuticle grooming, regular polishing, mask massage, 10' massage.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Volcano Spa Manicure</b></div>
                                                    <div class="col-3 text-end"><b>$40<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes a basic manicure gloves to protect from UV light. Collagen mask, paraffin hot wax and 10' massage.</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="pedicure">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Pedicure</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Basic Spa Pedicure</b></div>
                                                    <div class="col-3 text-end"><b>$28<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes nail trimming, shaping, cuticle grooming, scrubbing, massaging, and regular polishing.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Gel Pedicure</b></div>
                                                    <div class="col-3 text-end"><b>$43<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes a basic pedicure with gel polish.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Deluxe Pedicure</b></div>
                                                    <div class="col-3 text-end"><b>$45<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes a soothing soak, a deep exfoliating sugar scrub, regular polish, mask, callus and 10' massage.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Volcano Spa Pedicure</b></div>
                                                    <div class="col-3 text-end"><b>$55<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes the collagen package, nail trimming, cuticle grooming, callus treatment, paraffin, regular polish, mask and 10' extra massage.</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center font-Prata"><b>Little Princess</b></h1>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="little-kid-services-10-14">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Kiddie 10 - 14</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Manicure</b></div>
                                                    <div class="col-3 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes nail trimming, shaping, cuticle grooming, and regular polishing.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Pedicure</b></div>
                                                    <div class="col-3 text-end"><b>$25<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes nail trimming, shaping, cuticle grooming, scrubbing, massaging, and regular polishing.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Combo</b></div>
                                                    <div class="col-3 text-end"><b>$40<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes both manicure and pedicure.</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="little-kid-services-6-9">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Kiddie 6 - 9</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Manicure</b></div>
                                                    <div class="col-3 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes nail trimming, shaping, cuticle grooming, and regular polishing.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Pedicure</b></div>
                                                    <div class="col-3 text-end"><b>$25<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes nail trimming, shaping, cuticle grooming, scrubbing, massaging, and regular polishing.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Combo</b></div>
                                                    <div class="col-3 text-end"><b>$35<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes both manicure and pedicure.</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="little-kid-services-under-5">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Under 5</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Manicure</b></div>
                                                    <div class="col-3 text-end"><b>$13<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes nail trimming, shaping, cuticle grooming, and regular polishing.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Pedicure</b></div>
                                                    <div class="col-3 text-end"><b>$17<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes nail trimming, shaping, cuticle grooming, scrubbing, massaging, and regular polishing.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Combo</b></div>
                                                    <div class="col-3 text-end"><b>$30<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes both manicure and pedicure.</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="little-kid-services-combos">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Combos</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Basic Combo</b></div>
                                                    <div class="col-3 text-end"><b>$45<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes both basic manicure and pedicure.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Deluxe Combo</b></div>
                                                    <div class="col-3 text-end"><b>$75<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes both deluxe manicure and pedicure.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Volcano Spa Combo</b></div>
                                                    <div class="col-3 text-end"><b>$95<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This includes both Volcano Spa manicure and pedicure.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Gel Combo 1</b></div>
                                                    <div class="col-3 text-end"><b>$63<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This is includes both gel manicure and basic pedicure.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Gel Combo 2</b></div>
                                                    <div class="col-3 text-end"><b>$78<span>&nbsp;</span></b></div>
                                                    <div class="col-12"><p>This is includes both gel manicure and gel pedicure.</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="nail-enhancements">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Nail Enhancements</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Dipping Powder</b></div>
                                                    <div class="col-3 text-end"><b>$40<span>+</span></b></div>
                                                    <div class="col-12"><p>Extra long add $5 / Deep Cuticle Cleaning add $5</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Gel X</b></div>
                                                    <div class="col-3 text-end"><b>$55<span>+</span></b></div>
                                                    <div class="col-12"><p>Extra long add $5 / Deep Cuticle Cleaning add $5</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="additional-services">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Add-On Services</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Callus Treatment</b></div>
                                                    <div class="col-3 text-end"><b>$8<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Paraffin Hot Wax Treatment</b></div>
                                                    <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Mint Clay Mask</b></div>
                                                    <div class="col-3 text-end"><b>$7<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Cooling Gel</b></div>
                                                    <div class="col-3 text-end"><b>$7<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Buff Shine</b></div>
                                                    <div class="col-3 text-end"><b>$7<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Nail Art Designs</b></div>
                                                    <div class="col-3 text-end"><b>$5<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>French Tips</b></div>
                                                    <div class="col-3 text-end"><b>$7<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Matte Topcoat</b></div>
                                                    <div class="col-3 text-end"><b>$5<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>3 or More Colors Different</b></div>
                                                    <div class="col-3 text-end"><b>$5<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Gel or Dip or T.A.P. Take Off Without Services</b></div>
                                                    <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Acrylic or Gel X Take Off Without Services</b></div>
                                                    <div class="col-3 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Nail Repair</b></div>
                                                    <div class="col-3 text-end"><b>$5<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Gel Polish Change</b></div>
                                                    <div class="col-3 text-end"><b>$25<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Polish Change Manicure</b></div>
                                                    <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Polish Change Pedicure</b></div>
                                                    <div class="col-3 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="acrylic-set">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Acrylic Set</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Full Set</b></div>
                                                    <div class="col-3 text-end"><b>$40<span>+</span></b></div>
                                                    <div class="col-12"><p>Extra long add $5 / Deep Cuticle Cleaning add $5</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Fill</b></div>
                                                    <div class="col-3 text-end"><b>$25<span>+</span></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="pink-white-ombre">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Pink & White / Ombré</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Full Set</b></div>
                                                    <div class="col-3 text-end"><b>$55<span>+</span></b></div>
                                                    <div class="col-12"><p>Extra long add $5 / Deep Cuticle Cleaning add $5</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Fill</b></div>
                                                    <div class="col-3 text-end"><b>$45<span>+</span></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="tap-gel-builder">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">T.A.P. Gel Builder</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Full Set</b></div>
                                                    <div class="col-3 text-end"><b>$50<span>+</span></b></div>
                                                    <div class="col-12"><p>Extra long add $5 / Deep Cuticle Cleaning add $5</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Fill</b></div>
                                                    <div class="col-3 text-end"><b>$40<span>+</span></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center font-Prata"><b>Facial</b></h1>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="european-facial">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">European Facial</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>60 Minutes</b></div>
                                                    <div class="col-3 text-end"><b>$80<span>&nbsp;</span></b></div>
                                                    <div class="col-12">
                                                        <ul>
                                                            <li>Deep Cleaning</li>
                                                            <li>Ozone Steaming</li>
                                                            <li>Exfoliation (scrub)</li>
                                                            <li>Facial Massage</li>
                                                            <li>Treatment Mask</li>
                                                            <li>Under Eyes Mask</li>
                                                            <li>Vacuum Black Head, Black Head Remover</li>
                                                            <li>Hand + Shoulder Massage</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="in-and-out-facial">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">In and Out Facial</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>30 Minutes</b></div>
                                                    <div class="col-3 text-end"><b>$60<span>&nbsp;</span></b></div>
                                                    <div class="col-12">
                                                        <ul>
                                                            <li>Deep Cleaning</li>
                                                            <li>Ozone Steaming</li>
                                                            <li>Exfoliation (scrub)</li>
                                                            <li>Facial Massage</li>
                                                            <li>Treatment Mask</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center font-Prata"><b>Waxing</b></h1>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="face">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Face</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Full Face</b></div>
                                                    <div class="col-3 text-end"><b>$40<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Eyebrows</b></div>
                                                    <div class="col-3 text-end"><b>$18<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Upper Lip</b></div>
                                                    <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Chin</b></div>
                                                    <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" id="bikini">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Bikini</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Bikini Line</b></div>
                                                    <div class="col-3 text-end"><b>$35<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Brazilian</b></div>
                                                    <div class="col-3 text-end"><b>$65<span>&nbsp;</span></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12" id="body">
                            <div class="box-inner m-md-3 p-md-3 my-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="box-image my-3">
                                                <div class="text-center py-4">
                                                    <h2 class="font-Prata">Body</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="box-prices">
                                                <div class="row">
                                                    <div class="col-9"><b>Full Arm</b></div>
                                                    <div class="col-3 text-end"><b>$50<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Half Arm</b></div>
                                                    <div class="col-3 text-end"><b>$30<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Under Arm</b></div>
                                                    <div class="col-3 text-end"><b>$20<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Full Legs</b></div>
                                                    <div class="col-3 text-end"><b>$60<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Half Legs</b></div>
                                                    <div class="col-3 text-end"><b>$40<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Full Back</b></div>
                                                    <div class="col-3 text-end"><b>$55<span>+</span></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9"><b>Chest</b></div>
                                                    <div class="col-3 text-end"><b>$45<span>+</span></b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-price-list");
    </script>
}