@{
    ViewBag.Title = "Price List";
}
@section css{
    <link href="~/Content/css/page-prices.css" rel="stylesheet">
}
<main class="bg-main">
    <div class="overlay"></div>
    <div class="page-main">
        <section class="py-5 container">
            <div class="row">
                <div class="col-lg-12 py-3">
                    <img class="img-fluid" src="~/Content/images/price-list/price-list-01.jpg" alt="" />
                </div>
                <div class="col-lg-12 py-3">
                    <img class="img-fluid" src="~/Content/images/price-list/price-list-02.jpg" alt="" />
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-price-list");
    </script>
}