@{
    ViewBag.Title = "Price List";
}

<main class="bg-main">
    <div class="page-main">
        <section class="py-5 container">
            <div class="row">
                <div class="col-lg-12 py-5">
                    <img class="img-fluid" src="~/Content/images/price-list/AvancedNails-02-scaled.jpg" alt="" />
                </div>
                <div class="col-lg-12 py-5">
                    <img class="img-fluid" src="~/Content/images/price-list/AvancedNails-01-scaled.jpg" alt="" />
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-price-list");
    </script>
}