@{
    ViewBag.Title = "Programs";
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/page-programs.css" rel="stylesheet">
}
<main>
    @{Html.RenderPartial("_SliderPageSub");}
    <section class="bg">
        <div class="bg-programs">
            <div class="page-main container-lg py-5" id="programs">
                <div class="row">
                    <div class="col-lg-12 text-center mb-5"><h1><span class="font-Parisienne">Learn with Us</span></h1></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-8 text-center mt-3">
                        @{ Html.RenderPartial("_Programs_List"); }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-programs");

        var sliderInit = $('.sliders');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                fade: true,
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
            sliderInit.slickAnimation();

            sliderInit.on('touchstart', e => {
                sliderInit.slick('slickPlay');
            });
        });

        function readmore(obj) {
            var dots = $(obj).attr("read-more");
            var moreText = $(obj).parents(".box-text").find(".more");
            var moreInlineText = $(obj).parents(".box-text").find(".more-inline");
            var btnText = $(obj).parents(".box-text").find(".btn-read-more");

            if (dots == '0') {
                $(obj).attr("read-more","1");
                btnText.text("Read more");
                moreText.css('display', 'none');
                moreInlineText.css('display', 'none');
            }
            else {
                $(obj).attr("read-more", "0");
                btnText.text("Show less");
                moreText.css('display', 'block');
                moreInlineText.css('display', 'inline');
            }

            setTimeout(function () {
                btnText.text("Read more");
                moreText.css('display', 'none');
                moreInlineText.css('display', 'none');
                $(obj).attr("read-more", "1");
            }, 5000);
        }
    </script>
}