@{
    ViewBag.Title = "Q&A";

    var IsFade_PageBanner = (bool)ViewBag.IsFade_PageBanner;
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/qa.css" rel="stylesheet">
}
@section custom_css{
    <link href="~/Content/custom-css/site.css" rel="stylesheet">
}
<main>
    @{Html.RenderPartial("_SliderPageSub");}
    <div class="page-main container-xl">
        <div class="row">
            <div class="col-lg-12 d-block text-center mt-5"><h1 class="fs-1"><span class="font-Prata text-theme fw-bold">@(ViewBag.Title)</span></h1></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">Can Men Get Pedicures?</h4>
                                        <div class="card-text">
                                            <p>
                                                Pedicures are no longer just for women.
                                                Recently, the number of men getting pedicures has exploded.
                                                This growth has meant that men are now openly embracing a good pedicure.
                                                Pedicures for men often differ slightly as they are not generally focused on nail design.
                                                Instead, they usually include a relaxing and rejuvenating soak, and a foot scrub that is followed with an intensive nail care treatment and callus removal.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">How to make your nails grow faster?</h4>
                                        <div class="card-text">
                                            <p>
                                                If you don’t fancy the look of acrylics, but you still want the look of long nails, then you aren’t alone.
                                                There are various ways in which you can help your nails to grow faster and prevent breakage, the first simply being to keep your nails moisturized and hydrated.
                                                Using the DIPPING POWDER and cuticle oil will help promote nail growth.
                                                Get nail professional help if you need to know.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">What is DIPPING POWDER?</h4>
                                        <div class="card-text">
                                            <p>
                                                Dip powder uses a special sealant (instead of a UV lamp or a combination of a monomer and polymer) to set or cure the pigment.
                                                They’re easy to apply and no more (or less) damaging than gels, shellac or acrylics.
                                                They’re a good option if you lead an active lifestyle and want something more durable.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">What are Hard gel nails (Poly Gel or Builder gel)?</h4>
                                        <div class="card-text">
                                            <p>
                                                First being introduced in the 1980s.
                                                Hard gel nails are artificial nails similar to acrylics, but curves under a UV light.
                                                Hard gel gets its name because once cured, it is tough enough to be made into a nail extension.
                                                Nail extensions are artificial nails created by using a nail product to extend the nail past the edge of the natural nail.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">What are Soft gel nails?</h4>
                                        <div class="card-text">
                                            <p>
                                                Soft gel refers to the gel products that are too soft to create a nail extension.
                                                This includes gel polishes and thicker gels meant for gel-overlay services.
                                                Gel polishes are used for the increasingly popular gel polish manicures.
                                                These manicures are gentle to the natural nail and the polish stays intact on the nail for at least a couple of weeks with high shine and no cracking, peeling or chipping.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">What are Acrylic nails?</h4>
                                        <div class="card-text">
                                            <p>
                                                Acrylic nails are a more common form of artificial nails and may also be referred to as “liquid and powder nails”.
                                                Acrylic nail extensions can be created using plastic tips to create sculpted nails.
                                                The nail tips that are adhered to the fingernail’s edge using nail resin.
                                                Each tip is clipped and filed into shape before applying the wet acrylic and the nail extension is made.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">What’s the difference between Hard Gel and Acrylic nails?</h4>
                                        <div class="card-text">
                                            <p>
                                                The difference is in the application.
                                                Acrylic nails are set using a combination of a liquid monomer and powder polymer, which create a rock hard layer over the natural nail. Hard gel nails are set using a UV light.
                                                Overall, the acrylic nails tend to last longer than the hard gel.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">What is Gel nail polish?</h4>
                                        <div class="card-text">
                                            <p>
                                                First of all, gel nail polish is a kind of soft gel.
                                                It’s a liquid gel polish, that’s applied to the natural nail and cured under a UV light.
                                                Gel nail polish has better-staying power (around 2-weeks) than other regular nail polish.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">What is a gel manicure?</h4>
                                        <div class="card-text">
                                            <p>
                                                Using Soft gel – A gel manicure will give you super shiny nails that will last for weeks!
                                                In a salon, it’s simply done by applying a base coat, a gel nail polish, and curing this under a UV nail lamp.
                                                To do the perfect gel manicure, you need to get it done by a professional.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">How long do Acrylic nails take?</h4>
                                        <div class="card-text">
                                            <p>
                                                A full set of acrylic nails takes anywhere between 30 minutes to 01 hours.
                                                This depends on the condition of the natural nails or old acrylics that need removing or making a new set.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">Do acrylics damage your natural nails?</h4>
                                        <div class="card-text">
                                            <p>
                                                As well as Gel and Shellac manicures, acrylic nails are proving to be very popular.
                                                In order for acrylics to stick to your natural nails, your nails must be filed down to the surface of your nail becomes rough.
                                                This can be the case, but only if your acrylics are not being done by a professional.
                                                If done by a professional, they will know how to carry out the process less causing damage to your natural nails.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">Will Nail Art Work on Short Nails?</h4>
                                        <div class="card-text">
                                            <p>
                                                Having short nails does not mean that they cannot be designed artistically.
                                                In fact, the opposite is the case.
                                                Given the correct design and precise nail techniques, there is no reason why short nails can’t have the same impact as long nails.
                                                So, as well as being practical, short nails can now also be extremely beautiful and appealing.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-inner my-3">
                    <div class="card bg-site">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-inner mt-3">
                                        <h4 class="font-Prata text-theme">What’s the best way to keep rhinestones on the nail so they won’t fall off as easily?</h4>
                                        <div class="card-text">
                                            <p>
                                                The glue really isn’t recommended for crystals though because it eats away at the foil backing of the crystal and if any glue touches the surface of the stone, it will give it a cloudy appearance.
                                                We can never really guarantee how long it will last — it’s up to the client to treat their nails like jewels, not tools!
                                                With La Madame Nail Lounge, we always have in stock the product called “Gems Gel Formula” – make it done with confidence – new solution to keep rhinestones adheres well on your nails.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-qa");

        var sliderInit = $('.sliders');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                fade: @(IsFade_PageBanner ? "true" : "false"),
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
            sliderInit.slickAnimation();

            sliderInit.on('touchstart', e => {
                sliderInit.slick('slickPlay');
            });
        });
    </script>
}