@{
    ViewBag.Title = "SAFETY AND SANITATION";

    var IsFade_PageBanner = (bool)ViewBag.IsFade_PageBanner;
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/Content/css/slider.css" rel="stylesheet">
}
@section custom_css{
    <link href="~/Content/custom-css/site.css" rel="stylesheet">
}
<main>
    @{Html.RenderPartial("_SliderPageSub");}
    <div class="page-main container-lg py-5" id="about-us">
        <div class="row align-items-center">
            <div class="col-xl-12">
                <div class="box-text">
                    <div class="mb-4 text-center"><h3><span class="font-Parisienne fw-bold">Health & Wellness Guidelines</span></h3></div>
                    <p>
                        The health & wellness of our guests and employees is our priority.
                        It’s why we wanted to take a moment and share with you what we are doing to be extra vigilant amid peak seasonal flu and growing concerns around coronavirus.
                        Please know our regular health and hygiene practices provide the best defense against the spread of most contagious diseases.
                    </p>
                    <div class="mb-4 text-center"><h3><span class="font-Parisienne fw-bold">Everyday Practices</span></h3></div>
                    <p>
                        Our technicians wash their hands with antibacterial soap and use hand sanitizer between every client, in addition to washing their hands frequently throughout the day.
                        The alcohol-based hand sanitizer used kills 99.9% of illness causing germs.
                        Our tools and equipment are washed using antibacterial soap after each use, then sanitized using a phenol-based disinfectant that kills mycobacteria, viruses, and bacteria.
                        Tools are rinsed, dried, and stored in a clean, covered cabinet.
                        In addition, we also sterilize tools used in performing manicures and pedicures using medical-grade autoclaves.
                    </p>
                    <p>We launder linens using hot water & fragrance-free detergents in commercial washers and dryers that operate at high temperatures.</p>
                    <p>We clean and sanitize all spa areas and surfaces nightly using hospital-grade, antibacterial disinfectants.</p>
                    <div class="mb-4 text-center"><h3><span class="font-Parisienne fw-bold">Additional Precautions</span></h3></div>
                    <p>In response to the coronavirus, we have increased cleaning protocols related to high-touch surfaces such as doorknobs, handrails, plumbing fixtures, remote controls, lockers and more.</p>
                    <p>We are placing hand sanitizers throughout the spa and salon for guests and staff.</p>
                    <p>We also encourage our team members and our guests to stay home and to see a doctor if they feel unwell.</p>
                    <div class="mb-4 text-center"><h3><span class="font-Parisienne fw-bold">Best Practice For Staying Well</span></h3></div>
                    <p>Lastly, here are a few things you can do to stay well: </p>
                    <ul>
                        <li>Wash your hands often and with soap</li>
                        <li>Disinfect hands frequently</li>
                        <li>Avoid touching your eyes, nose and mouth</li>
                        <li>Cover your cough or sneeze with a tissue</li>
                        <li>Avoid close contact, including shaking hands, kissing and hugging</li>
                        <li>If you are not feeling well, please stay home</li>
                    </ul>
                    <div class="mb-4 text-center"><h3><span class="font-Parisienne fw-bold">Safety And Sanitation</span></h3></div>
                    <p>
                        There is nothing more important to us than your safety and comfort when you visit our salon.
                        That’s why we pledge to adhere to the highest industry standards.
                        We welcome your questions and will address your concerns concisely and openly, and we will provide backup if you request it.
                    </p>
                    <p>With your safety in mind:</p>
                    <ul>
                        <li>
                            We sanitize and disinfect all reusable manicuring tools in accordance with state regulations and industry “best practices.”
                            Any tools that can’t be disinfected are disposed of or given to the client after a single use.
                            If you would like to bring in your own tools, you are welcome to.
                            We still disinfect your tools before using them, as required by state law.
                        </li>
                        <li>We clean our hands prior to each service and ask you to do the same.</li>
                        <li>We use clean towels or manicure mats for each client.</li>
                        <li>
                            We never use a blade to cut any skin, including calluses.
                            Heavy callus needs to be taken down gently and sometimes over the course of a few services.
                        </li>
                        <li>We use only quality, professional-grade, legal, and safe products.</li>
                        <li>
                            We take steps to minimize your expose to odors, vapors, and filing dust in the salon.
                            These steps include using covered waste cans, keeping products tightly covered, and taking out only enough product to be used on your service.
                        </li>
                        <li>
                            We have Material Safety Data Sheets (MSDS) on all the products we use.
                            If you have any question about the safety of a product being used in your service, ask your technician.
                        </li>
                        <li>If we used an electric file, we are trained to use it safely and painlessly.</li>
                    </ul>
                    <p>We take pride in our professionalism:</p>
                    <ul>
                        <li>Our licenses are up-to-date and displayed.</li>
                        <li>
                            We will evaluate the health of your nails before your service and refer you to a physician if indicated.
                            Be sure to let us know if you have any health conditions — like diabetes — that may affect your service.
                        </li>
                        <li>
                            We will make recommendations for at-home maintenance of your nails.
                            We encourage you to understand your own role in keeping your nails in healthy and attractive condition.
                        </li>
                        <li>
                            We regularly take classes in techniques, health and safety, and product knowledge to enhance the quality and safety of your services.
                            You may be concerned about safe pedicures.
                            Here is what we do to ensure your total safety.
                        </li>
                        <li>
                            We have cleaning protocols, required by the state and recommended by the product manufacturer.
                            We have safety procedures that are done after every client, at the end of every day, and once a week.
                            You are welcome to look at the specific and detailed cleaning protocol we follow.
                        </li>
                        <li>
                            Our pedicure tools are disinfected or disposed of according to the high standards set by the Nail Manufacturers Council (which in many cases, exceed the requirement of the State Board).
                            Any pedicure implements that can’t be disinfected will be disposed of after use on a single client.
                        </li>
                        <li>
                            Tools and implements that can be safely reused — such as nippers and electric file bits — will be disinfected according to state regulations.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script src="~/Content/js/lightbox.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-safety");

        var sliderInit = $('.sliders');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                fade: @(IsFade_PageBanner ? "true" : "false"),
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
            sliderInit.slickAnimation();

            sliderInit.on('touchstart', e => {
                sliderInit.slick('slickPlay');
            });
        });
    </script>
}