@{
    ViewBag.Title = "Services";

    var IsFade_PageBanner = (bool)ViewBag.IsFade_PageBanner;
    var Image_Service_Rounded = ViewBag.Image_Service_Rounded ?? "0";
    var Image_Service_Text_ItemAlign = ViewBag.Image_Service_Text_ItemAlign ?? "center";
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/page-services.css" rel="stylesheet">
}
@section custom_css{
    <link href="~/Content/custom-css/site.css" rel="stylesheet">
}
<main>
    @{Html.RenderPartial("_SliderPageSub");}
    <section class="bg">
        <div class="bg-services">
            <div class="overlay"></div>
            <div class="page-main container-lg py-5">
                <div class="row">
                    <div class="col-lg-12 d-block text-center my-5"><h1 class="fs-1"><span class="font-Parisienne text-theme fw-bold">@(ViewBag.Title)</span></h1></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_manicure.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>MANICURE</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_pedicure.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>PEDICURE</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_dip_powder_nails.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>DIP POWDER</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_nails_acrylic.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>ACRYLIC</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_additional_services.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>ADDITIONAL</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_little_kids.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>KIDS</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_gel_polish.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>GEL POLISH</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-services");

        var sliderInit = $('.sliders');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                fade: @(IsFade_PageBanner ? "true" : "false"),
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
            sliderInit.slickAnimation();

            sliderInit.on('touchstart', e => {
                sliderInit.slick('slickPlay');
            });
        });
    </script>
}