@{
    ViewBag.Title = "Services";

    var IsFade_PageBanner = (bool)ViewBag.IsFade_PageBanner;
    var Image_Service_Rounded = ViewBag.Image_Service_Rounded ?? "0";
    var Image_Service_Text_ItemAlign = ViewBag.Image_Service_Text_ItemAlign ?? "center";
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/page-services.css" rel="stylesheet">
}
@section custom_css{
    <link href="~/Content/custom-css/site.css" rel="stylesheet">
}
<main>
    @{Html.RenderPartial("_SliderPageSub");}
    <section class="bg">
        <div class="bg-services">
            <div class="overlay"></div>
            <div class="page-main container-lg py-5">
                <div class="row">
                    <div class="col-lg-12 d-block text-center my-5"><h1 class="fs-1"><span class="font-Parisienne text-theme fw-bold">@(ViewBag.Title)</span></h1></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)" onclick="ModalDetail(this, 'MANICURE')">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_manicure.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>MANICURE</h2>
                                </div>
                            </div>
                            <div class="box-modal d-none">
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Regular Manicure</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$35</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Gel Manicure</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$45</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)" onclick="ModalDetail(this, 'PEDICURE')">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_pedicure.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>PEDICURE</h2>
                                </div>
                            </div>
                            <div class="box-modal d-none">
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Sugar Pedicure</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$35</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <a class="text-black" href="javascript:void(0)" onclick="OpenDetail('deluxe-pedicure')"><span>Deluxe Pedicure (VOESH)</span></a>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$55</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Volcano Spa Pedicure (7 step)</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$70</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Luxury Collagen Spa Pedicure</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$70</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>* The Amazing BOMB Spa Pedicure 9 step</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$80</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Jelly Spa Pedicure</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$70</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <a class="text-black" href="javascript:void(0)" onclick="OpenDetail('volcano-spa-pedicure')"><span>Volcano Spa Pedicure (7 step)</span></a>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$70</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)" onclick="ModalDetail(this, 'NAIL ENHANCEMENTS')">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_nails_enhancements.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>NAIL ENHANCEMENTS</h2>
                                </div>
                            </div>
                            <div class="box-modal d-none">
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-6"><span>&nbsp;</span></div>
                                        <div class="col-3 text-end">
                                            <span>Full Set</span>
                                        </div>
                                        <div class="col-3 text-end">
                                            <span>Full In</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"><span>Acrylic</span></div>
                                        <div class="col-3 text-end">
                                            <span>$50</span>
                                        </div>
                                        <div class="col-3 text-end">
                                            <span>$40</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"><span>Solar with Gel</span></div>
                                        <div class="col-3 text-end">
                                            <span>$55</span>
                                        </div>
                                        <div class="col-3 text-end">
                                            <span>$45</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"><span>Color Powder</span></div>
                                        <div class="col-3 text-end">
                                            <span>$55</span>
                                        </div>
                                        <div class="col-3 text-end">
                                            <span>$45</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"><span>Solar Ombre</span></div>
                                        <div class="col-3 text-end">
                                            <span>$65</span>
                                        </div>
                                        <div class="col-3 text-end">
                                            <span>$55</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"><span>Pink & White</span></div>
                                        <div class="col-3 text-end">
                                            <span>$65</span>
                                        </div>
                                        <div class="col-3 text-end">
                                            <span>$50</span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-10">
                                            <span>* GEL X</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$60</span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-12">
                                            <span><b>Dip Nails</b></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Basic Dip Color</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$50</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Dip with Tip</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$60</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Dip Ombre</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$65</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)" onclick="ModalDetail(this, 'WAXING')">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_waxing.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>WAXING</h2>
                                </div>
                            </div>
                            <div class="box-modal d-none">
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Eyebrow</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$12</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Upper Lip</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$9</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Chin</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$10</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Sideburns</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$10</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Neck</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$14</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Whole Face</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$40</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Under Arms</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$25</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Full Back</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$50</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Lower Back</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$30</span><span>+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)" onclick="ModalDetail(this, 'ADDITIONAL')">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_additional_services.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>ADDITIONAL</h2>
                                </div>
                            </div>
                            <div class="box-modal d-none">
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Take off with service</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$5</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Cut Down</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$5</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>French Manicure</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$5</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Nail Shape</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$5</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Length</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$5</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Nail repair</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$5</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Regular Polish Hand/Toe Each</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Add on services</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$10</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <span>Mini Manicure /hot stone massage /Paraffin Wax/Cooling Gel massage.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)" onclick="ModalDetail(this, 'KIDS SERVICES (Under 10)')">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_little_kids.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>KIDS</h2>
                                </div>
                            </div>
                            <div class="box-modal d-none">
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Kid Pedicure</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$28</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Kid Manicure</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$20</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)" onclick="ModalDetail(this, 'GEL POLISH')">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_gel_polish.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>GEL POLISH</h2>
                                </div>
                            </div>
                            <div class="box-modal d-none">
                                <div class="box-prices">
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Gel Color</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$28</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Nail Design</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$5</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Nail Removal</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$10</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <span>Gel Remove</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <span>$8</span><span>+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-services");

        var sliderInit = $('.sliders');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                fade: @(IsFade_PageBanner ? "true" : "false"),
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
            sliderInit.slickAnimation();

            sliderInit.on('touchstart', e => {
                sliderInit.slick('slickPlay');
            });
        });
    </script>
}