@{
    ViewBag.Title = "Services";

    var IsFade_PageBanner = (bool)ViewBag.IsFade_PageBanner;
    var Image_Service_Rounded = ViewBag.Image_Service_Rounded ?? "0";
    var Image_Service_Text_ItemAlign = ViewBag.Image_Service_Text_ItemAlign ?? "center";
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/page-services.css" rel="stylesheet">
}
@section custom_css{
    <link href="~/Content/custom-css/site.css" rel="stylesheet">
}
<main>
    @{Html.RenderPartial("_SliderPageSub");}
    <section class="bg">
        <div class="bg-services">
            <div class="overlay"></div>
            <div class="page-main container-lg py-5">
                <div class="row">
                    <div class="col-lg-12 d-block text-center my-5"><h1 class="fs-1"><span class="font-Parisienne text-theme fw-bold">@(ViewBag.Title)</span></h1></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)" onclick="OpenMenu(this)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_manicure.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>MANICURE</h2>
                                </div>
                                <div class="d-none" id="manicure">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row small py-1">
                                                <div class="col-10">Regular Manicure</div>
                                                <div class="col-2 text-end position-relative">$20<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Regular Manicure With French</div>
                                                <div class="col-2 text-end position-relative">$25<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Gel Manicures</div>
                                                <div class="col-2 text-end position-relative">$35<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Gel Manicures w/French</div>
                                                <div class="col-2 text-end position-relative">$40<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)" onclick="OpenMenu(this)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_pedicure.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>PEDICURE</h2>
                                </div>
                                <div class="d-none" id="pedicure">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row small py-1">
                                                <div class="col-10">Classic</div>
                                                <div class="col-2 text-end position-relative">$31<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Deluxe</div>
                                                <div class="col-2 text-end position-relative">$36<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">College</div>
                                                <div class="col-2 text-end position-relative">$46<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Volcano</div>
                                                <div class="col-2 text-end position-relative">$56<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Volcano + CBD</div>
                                                <div class="col-2 text-end position-relative">$70<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)" onclick="OpenMenu(this)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_dip_powder_nails.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>DIP POWDER</h2>
                                </div>
                                <div class="d-none" id="dip-powder">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row small py-1">
                                                <div class="col-10">Powder Color Full Set w/Gel</div>
                                                <div class="col-2 text-end position-relative">$55<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Pink and White Powder Full Set</div>
                                                <div class="col-2 text-end position-relative">$60<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Pink and White Powder Fill</div>
                                                <div class="col-2 text-end position-relative">$50<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Ombre Full Set</div>
                                                <div class="col-2 text-end position-relative">$55<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Ombre Fill</div>
                                                <div class="col-2 text-end position-relative">$50<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Dip with Soak</div>
                                                <div class="col-2 text-end position-relative">$50<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Dip No Soak</div>
                                                <div class="col-2 text-end position-relative">$45<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Dip Pink and White</div>
                                                <div class="col-2 text-end position-relative">$55<span class="position-absolute top-0">+</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)" onclick="OpenMenu(this)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_nails_acrylic.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>ACRYLIC</h2>
                                </div>
                                <div class="d-none" id="acrylic">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row small py-1">
                                                <div class="col-10">Acrylic Full Set w/Regular Polish</div>
                                                <div class="col-2 text-end position-relative">$35<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Acrylic Fill w/Regular Polish</div>
                                                <div class="col-2 text-end position-relative">$30<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Acrylic Full Set w/Gel Polish</div>
                                                <div class="col-2 text-end position-relative">$48<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Acrylic Fill w/Gel Polish</div>
                                                <div class="col-2 text-end position-relative">$38<span class="position-absolute top-0">+</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)" onclick="OpenMenu(this)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_waxing.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>WAXING</h2>
                                </div>
                                <div class="d-none" id="waxing">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row small py-1">
                                                <div class="col-10">Eyebrows</div>
                                                <div class="col-2 text-end position-relative">$10<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Lips</div>
                                                <div class="col-2 text-end position-relative">$8<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Chin</div>
                                                <div class="col-2 text-end position-relative">$10<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Full Face</div>
                                                <div class="col-2 text-end position-relative">$40<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Neck</div>
                                                <div class="col-2 text-end position-relative">$25<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Side Burns</div>
                                                <div class="col-2 text-end position-relative">$20<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Chest</div>
                                                <div class="col-2 text-end position-relative">$40<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Under Arms</div>
                                                <div class="col-2 text-end position-relative">$20<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Half Arms</div>
                                                <div class="col-2 text-end position-relative">$30<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Full Arms</div>
                                                <div class="col-2 text-end position-relative">$45<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Half Legs</div>
                                                <div class="col-2 text-end position-relative">$35<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Full Legs</div>
                                                <div class="col-2 text-end position-relative">$60<span class="position-absolute top-0">+</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)" onclick="OpenMenu(this)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_additional_services.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>ADDITIONAL</h2>
                                </div>
                                <div class="d-none" id="additional">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row small py-1">
                                                <div class="col-10">Nails French</div>
                                                <div class="col-2 text-end position-relative">$8<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Nails Art Design</div>
                                                <div class="col-2 text-end position-relative">$5<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Nails Repair</div>
                                                <div class="col-2 text-end position-relative">$5<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Soak of Acrylic</div>
                                                <div class="col-2 text-end position-relative">$15<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Soak of Gel</div>
                                                <div class="col-2 text-end position-relative">$15<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Soak of Dip</div>
                                                <div class="col-2 text-end position-relative">$15<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Chrome</div>
                                                <div class="col-2 text-end position-relative">$10<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Regular Polish Change</div>
                                                <div class="col-2 text-end position-relative">$15<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Gel Polish Change</div>
                                                <div class="col-2 text-end position-relative">$25<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)" onclick="OpenMenu(this)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_little_kids.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>KIDS</h2>
                                </div>
                                <div class="d-none" id="kids">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row small py-1">
                                                <div class="col-10">Manicure</div>
                                                <div class="col-2 text-end position-relative">$15<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Pedicure</div>
                                                <div class="col-2 text-end position-relative">$25<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Pedicure with Gel</div>
                                                <div class="col-2 text-end position-relative">$35<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Manicure with Gel</div>
                                                <div class="col-2 text-end position-relative">$25<span class="position-absolute top-0">&nbsp;</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)" onclick="OpenMenu(this)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_gel_polish.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>GEL POLISH</h2>
                                </div>
                                <div class="d-none" id="gel-polish">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row small py-1">
                                                <div class="col-10">Gel X with Gel</div>
                                                <div class="col-2 text-end position-relative">$55<span class="position-absolute top-0">+</span></div>
                                            </div>
                                            <div class="row small py-1">
                                                <div class="col-10">Bio Gel</div>
                                                <div class="col-2 text-end position-relative">$60<span class="position-absolute top-0">+</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section modal{
    <div class="modal fade" id="ModalMenuServices" tabindex="-1" aria-labelledby="ModalMenuServicesLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-bg">
                    <h1 class="modal-title fs-5 fw-bold" id="ModalMenuServicesLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-body-bg fw-bold">
                    
                </div>
            </div>
        </div>
    </div>    
}
@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-services");

        var sliderInit = $('.sliders');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                fade: @(IsFade_PageBanner ? "true" : "false"),
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
            sliderInit.slickAnimation();

            sliderInit.on('touchstart', e => {
                sliderInit.slick('slickPlay');
            });
        });

        function OpenMenu(obj) {
            var title = $(obj).find("h2",".box-text").text();
            var menubody = $(obj).find(".row", ".d-none").html();
            $(".modal-title", "#ModalMenuServices").html("").append(title);
            $(".modal-body", "#ModalMenuServices").html("").append(menubody);
            $("#ModalMenuServices").modal("show");
        }
    </script>
}