@{
    ViewBag.Title = "Services";
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/page-services.css" rel="stylesheet">
}
<main>
    <div class="slider-banner">
        <div class="banner">
            <div class="banner-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 banner-detail-first order-md-1 order-2">
                            <div class="banner-text">
                                <div class="banner-title font-Prata" data-animation-in="animate__animated animate__backInLeft">PEDICURE</div>
                                <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                                    <a href="@ViewBag.HyperLinkTell" class="btn btn-default btn-call">Call Us <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="img-dot" data-animation-in="animate__animated animate__bounceInUp">
                                <img src="~/Content/images/lines.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 banner-detail-last order-md-2 order-1" data-animation-in="animate__animated animate__backInRight">
                            <img src="~/Content/images/home/home_service_pedicure.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 banner-detail-first order-md-1 order-2">
                            <div class="banner-text">
                                <div class="banner-title" data-animation-in="animate__animated animate__backInLeft">MANICURE</div>
                                <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                                    <a href="@ViewBag.HyperLinkTell" class="btn btn-default btn-call">Call Us <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="img-dot" data-animation-in="animate__animated animate__bounceInUp">
                                <img src="~/Content/images/dots.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 banner-detail-last order-md-2 order-1" data-animation-in="animate__animated animate__backInRight">
                            <img src="~/Content/images/home/home_service_manicure.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 banner-detail-first order-md-1 order-2">
                            <div class="banner-text">
                                <div class="banner-title font-Prata" data-animation-in="animate__animated animate__backInLeft">EYELASH EXTENSIONS</div>
                                <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                                    <a href="@ViewBag.HyperLinkTell" class="btn btn-default btn-call">Call Us <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="img-dot" data-animation-in="animate__animated animate__bounceInUp">
                                <img src="~/Content/images/lines.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 banner-detail-last order-md-2 order-1" data-animation-in="animate__animated animate__backInRight">
                            <img src="~/Content/images/home/home_service_eyelash_extensions.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 banner-detail-first order-md-1 order-2">
                            <div class="banner-text">
                                <div class="banner-title font-Prata" data-animation-in="animate__animated animate__backInLeft">WAXING</div>
                                <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                                    <a href="@ViewBag.HyperLinkTell" class="btn btn-default btn-call">Call Us <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="img-dot" data-animation-in="animate__animated animate__bounceInUp">
                                <img src="~/Content/images/dots.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 banner-detail-last order-md-2 order-1" data-animation-in="animate__animated animate__backInRight">
                            <img src="~/Content/images/home/home_service_waxing.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="row justify-content-center my-5">
            <div class="col-sm-3 pt-4">
                <div class="box-image">
                    <img class="img-fluid" alt="" src="~/Content/images/services/services_pedicure.jpeg" />
                </div>
                <div class="box-text text-center">
                    <h2>Pedicure</h2>
                </div>
            </div>
            <div class="col-sm-3 pt-4">
                <div class="box-image">
                    <img class="img-fluid" alt="" src="~/Content/images/services/services_manicure.png" />
                </div>
                <div class="box-text text-center">
                    <h2>Manicure</h2>
                </div>
            </div>
            <div class="col-sm-3 pt-4">
                <div class="box-image">
                    <img class="img-fluid" alt="" src="~/Content/images/services/services_eyelash_extension.jpeg" />
                </div>
                <div class="box-text text-center">
                    <h2>Eyelash Extensions</h2>
                </div>
            </div>
            <div class="col-sm-3 pt-4">
                <div class="box-image">
                    <img class="img-fluid" alt="" src="~/Content/images/services/services_waxing.jpg" />
                </div>
                <div class="box-text text-center">
                    <h2>Waxing</h2>
                </div>
            </div>
        </div>
        <div class="text-center divider"></div>
        <div class="row justify-content-center my-5">
            <div class="col-sm-3 pt-4">
                <div class="box-image">
                    <img class="img-fluid" alt="" src="~/Content/images/services/services_gel_polish.jpeg" />
                </div>
                <div class="box-text text-center">
                    <h2>Gel Polish</h2>
                </div>
            </div>
            <div class="col-sm-3 pt-4">
                <div class="box-image">
                    <img class="img-fluid" alt="" src="~/Content/images/services/services_nails_enhancements.jpeg" />
                </div>
                <div class="box-text text-center">
                    <h2>Nails Enhancements</h2>
                </div>
            </div>
            <div class="col-sm-3 pt-4">
                <div class="box-image">
                    <img class="img-fluid" alt="" src="~/Content/images/services/services_dip_powder_nails.jpeg" />
                </div>
                <div class="box-text text-center">
                    <h2>Dip Powder Nails</h2>
                </div>
            </div>
            <div class="col-sm-3 pt-4">
                <div class="box-image">
                    <img class="img-fluid" alt="" src="~/Content/images/services/services_additional_services.jpeg" />
                </div>
                <div class="box-text text-center">
                    <h2>Additional Services</h2>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-services");

        var sliderInit = $('.slider-banner');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 3000,
                easing: 'linear'
            });
            sliderInit.slickAnimation();
        });
    </script>
}