@{
    ViewBag.Title = "Services";

    var IsFade_PageBanner = (bool)ViewBag.IsFade_PageBanner;
    var Image_Service_Rounded = ViewBag.Image_Service_Rounded ?? "0";
    var Image_Service_Text_ItemAlign = ViewBag.Image_Service_Text_ItemAlign ?? "center";
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/page-services.css" rel="stylesheet">
}
@section custom_css{
    <link href="~/Content/custom-css/site.css" rel="stylesheet">
}
<main>
    @{Html.RenderPartial("_SliderPageSub");}
    <section class="bg">
        <div class="bg-services">
            <div class="overlay"></div>
            <div class="page-main container-lg py-5">
                <div class="row">
                    <div class="col-lg-12 d-block text-center my-5"><h1 class="fs-1"><span class="font-Parisienne text-theme fw-bold">@(ViewBag.Title)</span></h1></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_manicure.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>MANICURE</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_pedicure.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>PEDICURE</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_little_kids.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>KIDS</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_waxing.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>WAXING</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_additional_services.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>ADDITIONAL</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_facial.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>FACIAL</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_eyelash_extension.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>EYELASH EXTENSIONS</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Service_Rounded)">
                            <div class="box-image img-hover-zoom rounded rounded-@(Image_Service_Rounded)">
                                <img class="img-fluid" alt="" src="~/Content/images/services/services_gel_polish.jpg" />
                                <div class="box-text text-center align-items-@(Image_Service_Text_ItemAlign)">
                                    <h2>ADD-ONS</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-menus container-lg position-relative">
                <div class="row">
                    <div class="col-md-12">
                        <div id="pedicure">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h2 class="title font-Prata text-theme">Pedicures</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text text-center">
                                                    <p style="font-weight:500;">
                                                        If you are looking for experts when it comes to pedicures, look no further than Kosmo Nail Bar!
                                                        Our nail salon has a team of professionals that will make your nails astonishing, tailored to your desired colors and designs.
                                                        Take advantage of our premium services, pleases don’t hesitate to visit us at Kosmo Nail Bar today!
                                                    </p>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Signature Pedicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$33<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>Cuticle Care, Filing, Pumice scrub, Massage, Color Polish</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Deluxe Pedicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$55<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>Signature Pedicure + Callus removal + Paraffin wax + Hot stone massage<br class="d-xl-block d-none" /><span>&nbsp;</span></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Luxury Pedicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$75<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>
                                                                    Signature Pedicure + Callus removal + Paraffin wax + Hot stone massage.<span>&nbsp;</span><br class="d-xl-block d-none" />
                                                                    Select a flavor: Beach Paradise CBD, Lavender
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Platinum Pedicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$45<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-10 col-lg-11">
                                                                <p>Signature pedicure + Callus removal + Paraffin wax</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Ultimate Pedicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$65<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>
                                                                    Signature pedicure + Callus removal + Collagen + Hot stone massage.<span>&nbsp;</span><br class="d-xl-block d-none" />
                                                                    Select a flavor: Citrus, Milk & Honey
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Kosmo Jelly Pedicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$85<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>
                                                                    Signature pedicure + Callus removal + Collagen + Hot stone massage + Warm jelly to hydrate, relax and detoxify.<span>&nbsp;</span><br class="d-xl-block d-none" />
                                                                    Select a flavor: Hemp CBD, Watermelon
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="manicure">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h2 class="title font-Prata text-theme">Manicures</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text text-center">
                                                    <p style="font-weight:500;">
                                                        At Kosmo Nail Bar, we offer a wide variety of options for manicures, ensuring that your nails look just the way you envisioned.
                                                        With an entire wall of polish colors to choose from, our talented nail technicians can trim, shape, and buff your nails to perfection and then create a beautiful nail design to turn them into works of art.
                                                        Our manicure menu is as follows:
                                                    </p>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Signature Manicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$25<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>Hot Towel, Cuticle Care, Filing, Massage, Color Polish</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Platinum Manicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$35<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>Signature Manicure + Paraffin Wax</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Kosmo Manicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$50<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>Signature Manicure + 5 mins Neck Massage + Mask with Hot Towel + Collagen Gloves</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Gel Manicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$43<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>Signature Manicure + Gel Polish</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Ombre/Chrome add</i></b></div>
                                                            <div class="col-3 text-end"><b>$20<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Dip with Signature Manicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$60<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Dipping Powder</i></b></div>
                                                            <div class="col-3 text-end"><b>$40<span>+</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Dipping French</i></b></div>
                                                            <div class="col-3 text-end"><b>$55<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Dip French Tip Color</i></b></div>
                                                            <div class="col-3 text-end"><b>$60<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Acrylic Full Set</i></b></div>
                                                            <div class="col-3 text-end"><b>$50<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Acrylic French</i></b></div>
                                                            <div class="col-3 text-end"><b>$65<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Acrylic Fill</i></b></div>
                                                            <div class="col-3 text-end"><b>$45<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Acrylic French Fill</i></b></div>
                                                            <div class="col-3 text-end"><b>$60<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Gel X</i></b></div>
                                                            <div class="col-3 text-end"><b>$80<span>+</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Gel X French</i></b></div>
                                                            <div class="col-3 text-end"><b>$85<span>+</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="kids">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h2 class="title font-Prata text-theme">Kids Services<br />(10 &amp; Under)</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text text-center">
                                                    <p style="font-weight:500;">
                                                        At Kosmo Nail Bar’s state-of-the-art nail salon, it is our goal to make you feel relaxed and completely at ease the moment you step through our doors.
                                                        Our nail bar provides a stress-free ambiance that allows you to let go and enjoy the benefits of the quality nail and waxing services.
                                                        In addition, we also provide kids’ spa services tailored to their needs!
                                                        From manicures and pedicures to facials, our salon provides a complete collection of therapeutic and refreshing nail care and waxing services with the best products in the industry.
                                                        So make Kosmo Nail Bar your pleasant treat for your hands and feet, and call us today to make an appointment!
                                                    </p>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Manicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Pedicure</i></b></div>
                                                            <div class="col-3 text-end"><b>$23<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Kid’s Design</i></b></div>
                                                            <div class="col-3 text-end"><b>$5<span>+</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Nail Polish</i></b></div>
                                                            <div class="col-3 text-end"><b>$8<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Toe Polish</i></b></div>
                                                            <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Gel Polish</i></b></div>
                                                            <div class="col-3 text-end"><b>$20<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="waxing">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h2 class="title font-Prata text-theme">Waxing</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text text-center">
                                                    <p style="font-weight:500;">
                                                        Kosmo Nail Bar offers premier full body waxing services.
                                                        You can be confident that our team has the expertise in removing any undesired hair quickly and accurately.
                                                        So feel gorgeous and confident when you come to Kosmo Nail Bar for waxing!
                                                        Furthermore, our nail salon offers premium manicures and pedicures, so for more information about our services, please don’t hesitate to visit us at Kosmo Nail Bar today!
                                                    </p>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Upper Lip</i></b></div>
                                                            <div class="col-3 text-end"><b>$8<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Chin</i></b></div>
                                                            <div class="col-3 text-end"><b>$10<span>+</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Cheek</i></b></div>
                                                            <div class="col-3 text-end"><b>$15<span>+</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Eyebrow</i></b></div>
                                                            <div class="col-3 text-end"><b>$12<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Eyebrow Tint</i></b></div>
                                                            <div class="col-3 text-end"><b>$18<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Full Face</i></b></div>
                                                            <div class="col-3 text-end"><b>$45<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Nose</i></b></div>
                                                            <div class="col-3 text-end"><b>$20<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="additional">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h2 class="title font-Prata text-theme">Additional Services</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text text-center">
                                                    <p style="font-weight:500;">
                                                        Please don’t hesitate to contact or visit us at Kosmo Nail Bar today to learn more about our nail salon services!
                                                    </p>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Nail Polish</i></b></div>
                                                            <div class="col-3 text-end"><b>$12<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Toe Polish</i></b></div>
                                                            <div class="col-3 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>French Nail Polish</i></b></div>
                                                            <div class="col-3 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>French Toe Polish</i></b></div>
                                                            <div class="col-3 text-end"><b>$20<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Nail Removal with Service</i></b></div>
                                                            <div class="col-3 text-end"><b>$5<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Nail Removal without Service</i></b></div>
                                                            <div class="col-3 text-end"><b>$12<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Add French Service</i></b></div>
                                                            <div class="col-3 text-end"><b>$5<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Nail Repair</i></b></div>
                                                            <div class="col-3 text-end"><b>$5<span>+</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Trim Nails</i></b></div>
                                                            <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Nail Design</i></b></div>
                                                            <div class="col-3 text-end"><b>$5<span>+</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6"><b><i>Long Nails</i></b></div>
                                                            <div class="col-6 text-end"><b>$5 / $10 / $15<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Callus Removal</i></b></div>
                                                            <div class="col-3 text-end"><b>$7<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Paraffin Wax</i></b></div>
                                                            <div class="col-3 text-end"><b>$7<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Cuticle Trim</i></b></div>
                                                            <div class="col-3 text-end"><b>$7<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Collagen</i></b></div>
                                                            <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Gel Polish</i></b></div>
                                                            <div class="col-3 text-end"><b>$27<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Add Gel Polish with Service</i></b></div>
                                                            <div class="col-3 text-end"><b>$20<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6"><b><i>Extra Massage</i></b></div>
                                                            <div class="col-6 text-end"><b>$1.5/ min<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="facial-treatments">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h2 class="title font-Prata text-theme">Facial Treatments</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Express Facial</i></b></div>
                                                            <div class="col-3 text-end"><b>$40<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>
                                                                    Includes cleanse, exfoliation, moisturizer and massage to give a refreshing feeling. (25 minutes)
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Brightening Facial</i></b></div>
                                                            <div class="col-3 text-end"><b>$70<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>
                                                                    Designed to lighten hyper-pigmented areas while providing exfoliation to lighten and brighten skin with improved skin texture. (50 minutes)
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Anti-Aging Facial</i></b></div>
                                                            <div class="col-3 text-end"><b>$75<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>
                                                                    Aims to tighten the skin, restore its elasticity and reduce the prominence of wrinkles. (50 minutes)
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>High Frequency Facial</i></b></div>
                                                            <div class="col-3 text-end"><b>$80<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>
                                                                    Utilizes a thermal current to treat acne, fine lines, wrinkles, enlarged pores, cellulite and undereye circles. Oxygenates the skin and kills bacteria with contact. (50 minutes)
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Acne Facial</i></b></div>
                                                            <div class="col-3 text-end"><b>$85<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>
                                                                    Provides deeper cleansing for the skin. Estheticians will do a higher level of extractions. (50 minutes)
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Microderm Facial</i></b></div>
                                                            <div class="col-3 text-end"><b>$85<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>
                                                                    Uses machine to gently resurface skin. Treats tone/texture, melasma and scars. Helps to plump up the skin where volume has been lost. (50 minutes)
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Hydroboost Facial</i></b></div>
                                                            <div class="col-3 text-end"><b>$85<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>
                                                                    Uses a special machine to help penetrate the pores for a deep cleansing. Exfoliate, extract, massage to hydrate. (50 minutes)
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-8"><b><i>Hot Oil Scalp Massage</i></b></div>
                                                            <div class="col-4 text-end"><b>$30/$45<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <p>
                                                                    Massaging hot oil enhances blood circulation in the nerves beneath the scalp providing stress relief and may aid in healthier hair. (15/30 minutes)
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="eyelash-extensions">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h2 class="title font-Prata text-theme">Eyelash Extensions</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-md-6">
                                                        <div class="row mb-3">
                                                            <div class="col-12"><b class="text-theme">Classic</b></div>
                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-4"><b><i>Full Set</i></b></div>
                                                                    <div class="col-8 text-end"><b>$110 (1.5hr-1hr45m)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>1 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$45 (45m)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>2 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$55 (1hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>3 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$70 (1hr-1.5hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-12"><b class="text-theme">Hybird</b></div>
                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-4"><b><i>Full Set</i></b></div>
                                                                    <div class="col-8 text-end"><b>$130 (1.5hr-2hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>1 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$60 (45m-1hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>2 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$75 (1hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>3 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$90 (1.5hr-2hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row mb-3">
                                                            <div class="col-12"><b class="text-theme">Soft Volume</b></div>
                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-4"><b><i>Full Set</i></b></div>
                                                                    <div class="col-8 text-end"><b>$150 (2hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>1 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$70 (45m)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>2 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$85 (1hr-1.5hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>3 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$100 (1.5hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-12"><b class="text-theme">Volume</b></div>
                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-4"><b><i>Full Set</i></b></div>
                                                                    <div class="col-8 text-end"><b>$175 (2hr-2.5hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>1 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$75 (1hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>2 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$90 (1hr-1.5hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>3 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$125 (1.5hr-2hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12"><b class="text-theme">Mega Volume</b></div>
                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-4"><b><i>Full Set</i></b></div>
                                                                    <div class="col-8 text-end"><b>$210 (2hr-3hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>1 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$90 (1hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>2 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$125 (1.5hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6"><b><i>3 wk Fill</i></b></div>
                                                                    <div class="col-6 text-end"><b>$160 (2hr)<span>&nbsp;</span></b></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="add-ons">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h2 class="title font-Prata text-theme">Add-Ons</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Collagen face Mask</i></b></div>
                                                            <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Collagen Hand Gloves</i></b></div>
                                                            <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Paraffin Wax For Hands</i></b></div>
                                                            <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Eye Mask</i></b></div>
                                                            <div class="col-3 text-end"><b>$10<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Eyebrow Lamination</i></b></div>
                                                            <div class="col-3 text-end"><b>$60<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Eyelash Lift</i></b></div>
                                                            <div class="col-3 text-end"><b>$50<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Eyebrow Tinting</i></b></div>
                                                            <div class="col-3 text-end"><b>$18<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>Led Therapy</i></b></div>
                                                            <div class="col-3 text-end"><b>$15<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-9"><b><i>High Frequency Therapy</i></b></div>
                                                            <div class="col-3 text-end"><b>$30<span>&nbsp;</span></b></div>
                                                            <div class="col-xl-11 col-lg-11">
                                                                <span>&nbsp;</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="hair-removal">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h3 class="title font-Prata text-theme">Hair Removal Services</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text text-center">
                                                    <p style="font-weight:500;">
                                                        Uses wax or sugar paste. Inquire for specific waxing service and pricing.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="hair-removal">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h2 class="title font-Prata text-theme">About Us</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text text-center">
                                                    <p style="font-weight:500;">
                                                        We believe in creating a relaxing environment and treating each client based on their needs.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="hair-removal">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h2 class="title font-Prata text-theme">Our Estheticians</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text text-center">
                                                    <p style="font-weight:500;">
                                                        Licensed and has experience working at various spas including in Med Spas.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="hair-removal">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="box-inner my-3 py-3">
                                        <div class="card bg-site">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="box-image mb-3">
                                                        <div class="text-center mt-5">
                                                            <h2 class="title font-Prata text-theme">Our Products</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text text-center">
                                                    <p style="font-weight:500;">
                                                        We use result driven products specifically created for professional spa usage.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-services");

        var sliderInit = $('.sliders');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                fade: @(IsFade_PageBanner ? "true" : "false"),
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
            sliderInit.slickAnimation();

            sliderInit.on('touchstart', e => {
                sliderInit.slick('slickPlay');
            });
        });
    </script>
}