:root {
    --bg-site: #f0e7dd;
    --color-theme: #764b36;
    --color-menu-legend: #764b36;
    --color-text-theme: #764b36;
    --color-black: #000000;
    --color-white: #ffffff;
}

/*Banner Home*/
.slider-home {
    height: 810px;
    border-width: 5px;
}

.slider-home .sliders .box-image {
    height: 800px;
}

.slider-home .sliders .slider-1 .box-image .image {
    height: 800px;
    background-image: url(../images/banner/home/home_banner_1.jpg);
    background-position: 100% 50%;
    align-items: center;
}

.slider-home .sliders .slider-2 .box-image .image {
    height: 800px;
    background-image: url(../images/banner/home/home_banner_2.jpg);
    background-position: 35% 50%;
    align-items: center;
}

.slider-home .sliders .slider-3 .box-image .image {
    height: 800px;
    background-image: url(../images/banner/home/home_banner_3.jpg);
    background-position: 50% 50%;
    align-items: flex-end;
}

.slider-home .sliders .slider-4 .box-image .image {
    height: 800px;
    background-image: url(../images/banner/home/home_banner_4.jpg);
    background-position: 90% 50%;
    align-items: center;
}

.slider-home .sliders .slider-5 .box-image .image {
    height: 800px;
    background-image: url(../images/banner/home/home_banner_5.jpg);
    background-position: 50% 50%;
    align-items: flex-end;
}
/* -------------------------------------------------- */

/*Banner Page*/
.slider-banner .sliders {
    height: 810px;
    border-width: 5px;
}

.slider-banner .box-slider {
    height: 800px;
}

.slider-banner .slider-1 .box-slider .image {
    height: 800px;
    background-image: url(../images/banner/slider/your-nails.jpg);
    background-position: 25% 50%;
    align-items: center;
}

.slider-banner .slider-2 .box-slider .image {
    height: 800px;
    background-image: url(../images/banner/slider/all-services.jpg);
    background-position: 50% 50%;
    align-items: center;
}

.slider-banner .slider-3 .box-slider .image {
    height: 800px;
    background-image: url(../images/banner/slider/e-gift.jpg);
    background-position: 50% 50%;
    align-items: flex-end;
}

.slider-banner .slider-4 .box-slider .image {
    background-image: url(../images/banner/slider/waxing.jpg);
    background-position: 50% 25%;
}
/* -------------------------------------------------- */

/*Banner Contact*/
.bg-main .contact-banner {
    height: 810px;
    border-width: 5px;
}

.bg .bg-contact {
    height: 800px;
    background-image: url(../images/banner/contact/contact_banner.jpg);
    background-position: 40% 50%;
    align-items: flex-end;
}
/* -------------------------------------------------- */

/*Page Home*/
.beauty-spa .box-image .image1 {
    background-image: url(../images/home/home_service_manicure.jpg);
    background-position: 50% 50%;
}

.beauty-spa .box-image .image2 {
    background-image: url(../images/home/home_service_pedicure.jpg);
    background-position: 80% 50%;
}

.beauty-spa .box-image .image3 {
    background-image: url(../images/home/home_service_dip_powder_nails.jpg);
    background-position: 50% 50%;
}

.beauty-spa .box-image .image4 {
    background-image: url(../images/home/home_service_acrylic.jpg);
    background-position: 45% 50%;
}

.business .business-inner .box-image .image-business {
    width: 500px;
    height: 500px;
    background-image: url(../images/home/home_business.jpg);
    background-position: 55% 50%;
}

.e-gift .box-image .image-e-gift {
    width: 500px;
    height: 500px;
    background-image: url(../images/home/home_e_gift.jpg);
    background-position: 50% 50%;
}

.contact-images .image1 {
    background-image: url(../images/home/home_contact_image_1.jpg);
    background-position: 40% 70%;
}

.contact-images .image2 {
    background-image: url(../images/home/home_contact_image_2.jpg);
    background-position: 30% 90%;
}

.contact-images .image3 {
    background-image: url(../images/home/home_contact_image_3.jpg);
    background-position: 90% 50%;
}

.contact-images .image4 {
    background-image: url(../images/home/home_contact_image_4.jpg);
    background-position: 50% 40%;
}

.contact-images .image5 {
    background-image: url(../images/home/home_contact_image_5.jpg);
    background-position: 50% 50%;
}

.contact-images .image6 {
    background-image: url(../images/home/home_contact_image_6.jpg);
    background-position: 50% 70%;
}

.contact-images .image7 {
    background-image: url(../images/home/home_contact_image_7.jpg);
    background-position: 50% 60%;
}

.contact-images .image8 {
    background-image: url(../images/home/home_contact_image_8.jpg);
    background-position: 50% 5%;
}
/* -------------------------------------------------- */

/*Page Contact*/
.bg-contact-1 {
    background-image: url(../images/contact/contact_image_1.jpg);
    background-position: 75% 50%;
}

.bg-contact-2 {
    background-image: url(../images/contact/contact_image_2.jpg);
    background-position: 50% 50%;
}

.bg-contact-3 {
    background-image: url(../images/contact/contact_image_3.jpg);
    background-position: 50% 50%;
}

.bg-contact-4 {
    background-image: url(../images/contact/contact_image_4.jpg);
    background-position: 50% 50%;
}
/* -------------------------------------------------- */

/*CSS Tablet*/
@media (max-width: 991px) {
    /*Banner Home*/
    .slider-home {
        height: 510px !important;
        border-width: 5px;
    }

    .slider-home .sliders .box-image, .slider-home .sliders .box-image .image {
        height: 500px !important;
    }

    .slider-home .sliders .slider-1 .box-image .image {
        align-items: center !important;
        background-position: 100% 50% !important;
    }

    .slider-home .sliders .slider-2 .box-image .image {
        background-position: 5% 50% !important;
        align-items: flex-end !important;
    }

    .slider-home .sliders .slider-3 .box-image .image {
        align-items: flex-end !important;
        background-position: 50% 50% !important;
    }

    .slider-home .sliders .slider-4 .box-image .image {
        background-position: 90% 50% !important;
        align-items: center !important;
    }

    .slider-home .sliders .slider-5 .box-image .image {
        align-items: flex-end !important;
        background-position: 50% 50% !important;
    }
    /* -------------------------------------------------- */

    /*Banner Page*/
    .slider-banner .sliders {
        height: 510px !important;
        border-width: 5px;
    }

    .slider-banner .box-slider {
        height: 500px !important;
    }

    .slider-banner .box-slider .image {
        height: 500px !important;
    }

    .slider-banner .slider-1 .box-slider .image {
        background-position: 30% 50% !important;
        align-items: center !important;
    }

    .slider-banner .slider-2 .box-slider .image {
        background-position: 50% 50% !important;
        align-items: center !important;
    }

    .slider-banner .slider-3 .box-slider .image {
        background-position: 50% 50% !important;
        align-items: flex-end !important;
    }

    .slider-banner .slider-4 .box-slider .image {
        background-position: 50% 50% !important;
        align-items: flex-end !important;
    }
    /* -------------------------------------------------- */

    /*Banner Contact*/
    .bg-main .contact-banner {
        height: 510px !important;
        border-width: 5px;
    }

    .bg .bg-contact {
        background-position: 40% 50% !important;
        align-items: flex-end !important;
        height: 500px !important;
    }
    /* -------------------------------------------------- */
}
/* -------------------------------------------------- */

/*CSS Mobile*/
@media (max-width: 767px) {
    /*Banner Home*/
    .slider-home {
        height: 360px !important;
        border-width: 5px;
    }

    .slider-home .sliders .box-image, .slider-home .sliders .box-image .image {
        height: 350px !important;
    }

    .slider-home .sliders .slider-1 .box-image .image {
        background-position: 100% 50% !important;
        align-items: flex-end !important;
    }

    .slider-home .sliders .slider-2 .box-image .image {
        align-items: flex-end !important;
        background-position: 15% 50% !important;
    }

    .slider-home .sliders .slider-3 .box-image .image {
        align-items: flex-end !important;
        background-position: 75% 50% !important;
    }

    .slider-home .sliders .slider-4 .box-image .image {
        align-items: flex-end !important;
        background-position: 90% 50% !important;
    }

    .slider-home .sliders .slider-5 .box-image .image {
        background-position: 50% 50% !important;
        align-items: flex-end !important;
    }
    /* -------------------------------------------------- */

    /*Banner Page*/
    .slider-banner .sliders {
        height: 360px !important;
        border-width: 5px;
    }

    .slider-banner .box-slider {
        height: 350px !important;
    }

    .slider-banner .box-slider .image {
        height: 350px !important;
    }

    .slider-banner .slider-1 .box-slider .image {
        align-items: flex-end !important;
        background-position: 15% 50% !important;
    }

    .slider-banner .slider-2 .box-slider .image {
        align-items: center !important;
        background-position: 50% 50% !important;
    }

    .slider-banner .slider-3 .box-slider .image {
        align-items: flex-end !important;
        background-position: 50% 50% !important;
    }

    .slider-banner .slider-4 .box-slider .image {
        align-items: flex-end !important;
        background-position: 50% 50% !important;
    }
    /* -------------------------------------------------- */

    /*Banner Contact*/
    .bg-main .contact-banner {
        height: 360px !important;
        border-width: 5px;
    }

    .bg .bg-contact {
        background-position: 45% 50% !important;
        align-items: flex-end !important;
        height: 350px !important;
    }
    /* -------------------------------------------------- */

    /*Page Home*/
    .business .business-inner .box-image .image-business {
        position: relative;
        width: 100%;
        height: 325px;
    }

    .e-gift .box-image .image-e-gift {
        position: relative;
        width: 100%;
        height: 325px;
    }
    /* -------------------------------------------------- */
}