main {
    background-color: var(--color-theme);
}
.page-main {
    position: relative;
}
.page-main h1 span {
    padding-bottom: 0px;
    border-bottom: 2px solid var(--color-text-theme);
    font-weight: 900;
}
.page-main .box-inner {
    padding: var(--padding-box);
    background-color: var(--color-black);
}