main {

}
.page-main {
    position: relative;
}
.page-main h1 span {
    padding-bottom: 0px;
    border-bottom: 2px solid var(--color-text-theme);
    font-weight: 900;
}
.box-image {
    position: relative;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.box-image img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
.box-text {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
}
.box-text h2{
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.25;
    margin-top: 1rem;
    margin-bottom: 0;
    color: var(--color-white);
    text-shadow: -1px 0 var(--color-black), 0 1px var(--color-black), 1px 0 var(--color-black), 0 -1px var(--color-black);
}
.divider {
    background-color: var(--color-black);
}
.page-main .row > [class*='col-'] {
    display: flex;
}
.page-main .box-inner {
    padding: var(--padding-box);
    background-color: var(--color-black);
    cursor: pointer;
}

.modal-body-content ul {
    columns: 2 !important;
    -webkit-columns: 2 !important;
    -moz-columns: 2 !important;
    padding-left: 15px;
}
.modal-body-content ul li {
    font-size: 13px;
}