main {

}
.page-main {
    position: relative;
}
.box-image {
    position: relative;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.box-image img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
.box-text {
    padding: 10px;
    background-color: var(--bg-site);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--padding-box) solid var(--color-black);
}
.box-text h2{
    font-family: Prata;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 1.25;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--color-white);
}
.divider {
    background-color: var(--color-black);
}
.page-main .row > [class*='col-'] {
    display: flex;
}
.page-main .box-inner {
    padding: var(--padding-box);
    background-color: var(--color-black);
    cursor: pointer;
}

.modal-body-content ul {
    columns: 2 !important;
    -webkit-columns: 2 !important;
    -moz-columns: 2 !important;
    padding-left: 15px;
}
.modal-body-content ul li {
    font-size: 13px;
}