.page-main{
    margin-top: -130px !important;
    position: relative;
}
.bg-main{
    background-color: rgb(244, 244, 244);
}
.box-tel, .box-contact{
    background-color: #FFFFFF;
    padding: 80px 40px 80px 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
}
.btn-tel, .btn-contact{
    background-color: #7a9c59;
    border-radius: 0;
    border-color: #7a9c59;
    font-family: "Carme";
    text-transform: uppercase;
    font-size: .835em;
    letter-spacing: .03em;
    font-weight: bolder;
    box-sizing: border-box;
    padding-left: 1.2em;
    padding-right: 1.2em;
}
.btn-tel span, .btn-contact span{
    line-height: 1.6;
}
.box-map{
    padding: 40px 40px 40px 40px;
    background-color: rgb(255,255,255);
}
.gallery{
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #FFFFFF;
}
.gallery .container{
    max-width: 1300px;
}
.bg-contact-1 {
    background-image: url(../images/contact/contact_image_1.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    height: 413px;
}
.bg-contact-2 {
    background-image: url(../images/contact/contact_image_2.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    height: 413px;
}
.bg-contact-3 {
    background-image: url(../images/contact/contact_image_3.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    height: 413px;
}