.page-main {
    position: relative;
    font-family: "Vesper Libre";
    color: var(--color-black);
}
.page-main h1 {
    font-size: 250%;
    color: var(--color-text-theme);
}
.page-main h1 span {
    padding-bottom: 0px;
    border-bottom: 2px solid var(--color-text-theme);
    font-weight: 900;
}
#about-us p {
    font-size: 17px;
    margin-bottom: 15px;
}
#staff h2 {
    font-weight: bold;
    color: var(--color-text-theme);
    font-size: 2.5em;
    line-height: 2;
    font-family: "Parisienne";
}
#staff h2 span {
    padding-bottom: 25px;
    border-bottom: 2px solid var(--color-text-theme);
    font-weight: 900;
}

.bg .bg-about-us {
    background-image: unset;
    background-color: var(--bg-site);
}
.bg .overlay {
    background-color: unset;
}

.btn-more {
    background-color: #fff !important;
    color: #000000 !important;
    border-radius: 10px;
    font-family: "Carme";
    border-color: rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: bolder;
    padding: 7px 20px;
}

@media (max-width: 767px) {
    .page-main h1 {
        font-size: 175%;
    }
}