main {
    background-color: var(--color-theme);
}
.page-main {
    position: relative;
}
.page-main .box-inner {
    padding: 5px;
    background-color: var(--color-theme);
    box-shadow: 2px 2px 10px var(--color-black);
}