/*root*/
:root {
    --bg-site: #f5fff5;
    --color-theme: #80a07b;
    --color-menu-legend: #000000;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-text-theme: #80a07b;
    --box-shadow: 0px 0px 10px #000000;
    --padding-box: 5px;
}
body {
    background: var(--bg-site);
}
body.loader{
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: hidden;
}
.loading {
    width: 100%;
    height: 100%;
    background: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
    position: fixed;
    background-position: 50% 50%;
    z-index: 9;
    background-color: var(--color-white);
    opacity: 0.7;
    top: 0;
}
main{
    overflow-x:hidden;
}
header {
    background: var(--bg-site);
}

a:active,a:hover {
    outline-width: 0
}

/*Logo*/
.logo, .navbar-brand img {
    max-width: 250px;
}

/*font*/
.font-Prata{
    font-family: 'Prata' !important;
}
.font-Parisienne{
    font-family: 'Parisienne' !important;
}

/*divider*/
.divider {
    max-width: 200px;
    background-color: var(--bg-site);
    height: 3px;
    margin: 0 auto;
}

/*css*/
.btn-none-border{
    border: 0 !important;
}
.btn-border, .border {
    border-width: 1px !important;
}
.btn-border-black, .border-black {
    border-color: #666666 !important;
}
.btn-bg-white, .bg-white {
    background: var(--color-white);
    color: var(--color-black);
}
.btn-call {
    padding: 20px 30px 20px 30px;
    background-color: var(--color-black);
    border: 0;
    border-radius: 5px;
    color: var(--color-white);
    font-weight: bold;
}
.btn-theme {
    background: var(--color-theme);
}
.text-theme{
    color: var(--color-text-theme);
}
.border-theme{
    border: 1px solid var(--color-theme);
}
.border-color-theme {
    border-color: var(--color-theme) !important;
}
.modal-dialog {
    display: flex;
    align-items: center;
    height: 100%;
}
.modal-content {
    border-width: 5px;
    border-color: var(--color-theme);
}
.left-10-percent{
    left:10%;
    width: 60%;
}

.text-justify{
    text-align: justify;
}

.more {
    display: none;
}

.slick-prev:before, .slick-next:before {
    color: var(--color-theme) !important;
}

.nav-pills {
    border-bottom: 1px solid var(--color-text-theme);
}
.tab-content {
    border: 1px solid var(--color-text-theme);
    border-top: none;
}
.nav-pills .nav-link {
    color: var(--color-text-theme);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--color-text-theme);
    color: var(--color-white);
    border-radius: 0.375rem 0.375rem 0 0;
}
