/*root*/
:root {
    --bg-site: #FFFFFF;
    --color-theme: #fac5d5;
    --color-menu-legend: #af2e33;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #888888;
    --color-box: #FFFFFF;
}
body {
    background: var(--bg-site);
}
main{
    overflow-x:hidden;
}
header{
    max-width: 1080px;
    margin: 0 auto;
}
a:active,a:hover {
    outline-width: 0
}

/*Logo*/
.logo, .navbar-brand img {
    max-width: 90px;
}

/*font*/
.font-Prata{
    font-family: 'Prata' !important;
}
.font-Parisienne{
    font-family: 'Parisienne' !important;
}

/*divider*/
.divider {
    max-width: 200px;
    background-color: var(--color-black);
    height: 3px;
    margin: 0 auto;
}

/*css*/
.btn-none-border{
    border: 0 !important;
}
.btn-border, .border {
    border-width: 1px !important;
}
.btn-border-black, .border-black {
    border-color: #666666 !important;
}
.btn-bg-white{
    background: #FFFFFF;
    color: #000000;
}
.btn-call {
    padding: 20px 30px 20px 30px;
    background-color: #000000;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
}
.modal-dialog {
    display: flex;
    align-items: center;
    height: 100%;
}
.modal-content {
    border-width: 5px;
    border-color: var(--color-theme);
}
.left-10-percent{
    left:10%;
    width: 60%;
}